/* screen - achat-user */

.achat-user {
  align-items: flex-start;
  background-color: var(--black-haze);
  display: flex;
  height: 1897px;
  overflow: hidden;
  width: 1686px;
}

.achat-user .overlap-group13 {
  height: 1989px;
  margin-left: -11px;
  margin-top: -14px;
  position: relative;
  width: 1663px;
}

.achat-user .menu-notif {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  left: 1415px;
  min-width: 224px;
  position: absolute;
  top: 66px;
}

.achat-user .icon-feather-search {
  align-items: flex-start;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  margin-top: 6.0px;
  min-width: 26px;
}

.achat-user .trac-container-1 {
  height: 29px;
  margin-top: -1.0px;
  position: relative;
  width: 29px;
}

.achat-user .trac-560 {
  height: 25px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}

.achat-user .trac-561 {
  height: 9px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 9px;
}

.achat-user .icon-feather-mail {
  align-items: flex-start;
  display: flex;
  height: 23px;
  margin-left: 40px;
  margin-top: 2.0px;
  min-width: 29px;
}

.achat-user .trac-container-2 {
  height: 25px;
  margin-left: -1px;
  margin-top: -1.0px;
  position: relative;
  width: 32px;
}

.achat-user .trac-558 {
  height: 25px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 31px;
}

.achat-user .trac-559 {
  height: 13px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 32px;
}

.achat-user .icon-notification {
  display: flex;
  height: 31px;
  margin-left: 30px;
  margin-top: 3.0px;
  width: 26px;
}

.achat-user .vector-smart-object {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 25.56px;
}

.achat-user .overlap-group-3 {
  height: 33px;
  margin-left: -1px;
  margin-top: -1.02px;
  position: relative;
  width: 28px;
}

.achat-user .trac-88 {
  height: 27px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 26px;
}

.achat-user .trac-89 {
  height: 8px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 12px;
}

.achat-user .ellipse-1 {
  background: linear-gradient(24.88deg, #ff0000 141845.66%, #fcba59 165027.1%);
  border-radius: 6.2px/5.96px;
  height: 14px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 14px;
}

.achat-user .ellipse-7 {
  border-radius: 23.5px/24px;
  height: 48px;
  margin-left: 25px;
  object-fit: cover;
  width: 47px;
}

.achat-user .overlap-group12 {
  height: 1989px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1663px;
}

.achat-user .overlap-group11 {
  height: 1989px;
  left: 0;
  position: absolute;
  top: 0;
  width: 924px;
}

.achat-user .dashboard-1 {
  height: 27px;
  left: 348px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 71px;
  white-space: nowrap;
  width: 297px;
}

.achat-user .hello-thomas-welcome-to-galucter {
  left: 383px;
  letter-spacing: -0.16px;
  line-height: 16px;
  opacity: 0.6;
  position: absolute;
  top: 106px;
  width: 541px;
}

.achat-user .vector-smart-object-1 {
  display: flex;
  height: 23px;
  left: 349px;
  position: absolute;
  top: 107px;
  width: 24px;
}

.achat-user .groupe-5 {
  display: flex;
  flex: 1;
  width: 24px;
}

.achat-user .groupe-4 {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 24px;
}

.achat-user .groupe-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-bottom: 3.1px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3.4px;
  min-width: 24px;
  opacity: 0.5;
  padding: 0 0.0px;
}

.achat-user .trac-container {
  height: 17px;
  margin-top: 0;
  position: relative;
  width: 10px;
}

.achat-user .trac-91 {
  height: 8px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 3px;
}

.achat-user .trac-93 {
  height: 12px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 4px;
}

.achat-user .trac-96 {
  height: 17px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.achat-user .trac-90 {
  align-self: center;
  height: 3px;
  margin-bottom: 0.01px;
  object-fit: cover;
  width: 3px;
}

.achat-user .trac-92 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 3px;
}

.achat-user .trac-94 {
  height: 12px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 4px;
}

.achat-user .trac-95 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.achat-user .overlap-group9 {
  height: 1989px;
  left: 0;
  position: absolute;
  top: 0;
  width: 325px;
}

.achat-user .rectangle-sidebar {
  height: 1989px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 314px;
}

.achat-user .dashboard-active {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 316px;
  position: absolute;
  top: 225px;
  width: 311px;
}

.achat-user .flex-row {
  align-items: flex-start;
  display: flex;
  height: 28px;
  margin-right: 16.5px;
  min-width: 194px;
}

.achat-user .x012-home {
  background-image: url(../img/vector-1057@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23px;
  width: 21px;
}

.achat-user .dashboard-2 {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 16px;
  width: 157px;
}

.achat-user .rectangle-31 {
  background-color: var(--seashell-peach);
  border-radius: 0px 50px 50px 0px;
  height: 73px;
  margin-top: 215px;
  width: 311px;
}

.achat-user .invoicing {
  display: flex;
  height: 42px;
  left: 51px;
  position: absolute;
  top: 295px;
  width: 247px;
}

.achat-user .invoicing-1 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  width: 246.5px;
}

.achat-user .group-7 {
  display: flex;
  flex: 1;
  margin-right: 4.5px;
}

.achat-user .group-1 {
  display: flex;
  flex: 1;
  width: 239.33px;
}

.achat-user .x011-file {
  background-image: url(../img/vector-1064@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23.33px;
  margin-left: 0;
  margin-top: 1.3px;
  width: 18.67px;
}

.achat-user .dashboard-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  margin-left: 21.7px;
  margin-right: -2.0px;
}

.achat-user .icon-feather-chevron-down {
  height: 9.27px;
  margin-right: -0.6px;
  margin-top: -2.4px;
  object-fit: cover;
  width: 5.26px;
}

.achat-user .calendar {
  display: flex;
  height: 42px;
  left: 50px;
  position: absolute;
  top: 369px;
  width: 220px;
}

.achat-user .calendar-1 {
  display: flex;
  flex: 1;
  width: 220.5px;
}

.achat-user .group-12 {
  display: flex;
  flex: 1;
  width: 220.5px;
}

.achat-user .group-1-1 {
  display: flex;
  flex: 1;
  width: 222.5px;
}

.achat-user .x003-date {
  background-image: url(../img/vector-1169@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 22.17px;
  margin-left: 0;
  margin-top: 1.3px;
  width: 21.0px;
}

.achat-user .dashboard-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  margin-left: 20.5px;
  margin-right: -2.0px;
}

.achat-user .overlap-group1 {
  height: 45px;
  left: 50px;
  position: absolute;
  top: 428px;
  width: 266px;
}

.achat-user .calendar-2 {
  display: flex;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 266px;
}

.achat-user .group-12-1 {
  display: flex;
  flex: 1;
  width: 265.5px;
}

.achat-user .group-1-2 {
  display: flex;
  flex: 1;
  width: 267.5px;
}

.achat-user .x007-edit {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 0;
  margin-top: 0;
  min-width: 21px;
  padding: 0 0.0px;
}

.achat-user .vector-container-3 {
  height: 21px;
  position: relative;
  width: 21px;
}

.achat-user .vector-6 {
  height: 16px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}

.achat-user .vector-7 {
  height: 21px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 21px;
}

.achat-user .dashboard-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2.0px;
  margin-left: 20.5px;
  margin-right: -2.0px;
  margin-top: 2.5px;
}

.achat-user .icon-feather-chevron-down-1 {
  height: 9px;
  left: 243px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 5px;
}

.achat-user .footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 28px;
  min-height: 93px;
  position: absolute;
  top: 1758px;
  width: 257px;
}

.achat-user .x2021-all-rights-reserved {
  height: 20px;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 10.0px;
  margin-top: -3px;
  text-align: center;
  white-space: nowrap;
  width: 172px;
}

.achat-user .unicos-modern-dashboard {
  align-self: flex-end;
  height: 23px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 4px;
  white-space: nowrap;
  width: 236px;
}

.achat-user .x2021-all-rights-reserved-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 10.0px;
  margin-top: 4px;
  white-space: nowrap;
  width: 172px;
}

.achat-user .made-with-by-peterdraw {
  align-self: flex-start;
  height: 20px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 4px;
  text-align: center;
  white-space: nowrap;
  width: 247px;
}

.achat-user .banking {
  display: flex;
  height: 42px;
  left: 50px;
  position: absolute;
  top: 494px;
  width: 203px;
}

.achat-user .banking-1 {
  display: flex;
  flex: 1;
  width: 202.67px;
}

.achat-user .group-8 {
  display: flex;
  flex: 1;
  width: 202.67px;
}

.achat-user .group-1-3 {
  display: flex;
  flex: 1;
  width: 204.67px;
}

.achat-user .x040-wallet {
  background-image: url(../img/vector-1289@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 21px;
  margin-left: 0;
  margin-top: 1.5px;
  width: 23.33px;
}

.achat-user .dashboard {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  margin-left: 19.3px;
  margin-right: -2.0px;
}

.achat-user .crypto {
  display: flex;
  height: 42px;
  left: 50px;
  position: absolute;
  top: 564px;
  width: 183px;
}

.achat-user .crypto-1 {
  display: flex;
  flex: 1;
  width: 182.67px;
}

.achat-user .group-5 {
  display: flex;
  flex: 1;
  width: 182.67px;
}

.achat-user .group-1-4 {
  display: flex;
  flex: 1;
  width: 184.67px;
}

.achat-user .x005-dollar {
  align-items: center;
  display: flex;
  height: 23.33px;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 0.3px;
  min-width: 23.33px;
  padding: 0 0.0px;
}

.achat-user .vector-container-4 {
  height: 23px;
  position: relative;
  width: 23px;
}

.achat-user .vector-8 {
  height: 14px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}

.achat-user .vector-9 {
  height: 23px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 23px;
}

.achat-user .icon-open-menu {
  height: 13px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 14px;
}

.achat-user .logo {
  display: flex;
  height: 81px;
  left: 60px;
  position: absolute;
  top: 74px;
  width: 354px;
}

.achat-user .groupe-1 {
  align-items: flex-end;
  display: flex;
  height: 50.64px;
  justify-content: flex-end;
  min-width: 50px;
  padding: 0.0px 0;
}

.achat-user .overlap-group-4 {
  height: 51px;
  position: relative;
  width: 50px;
}

.achat-user .subtract {
  height: 21px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 20px;
}

.achat-user .subtract-1 {
  height: 47px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 48px;
}

.achat-user .ellipse-4 {
  background-color: var(--yellow-orange);
  border-radius: 6.3px;
  height: 13px;
  left: 35px;
  position: absolute;
  top: 35px;
  transform: rotate(-41.90deg);
  width: 13px;
}

.achat-user .groupe-3-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 4.5px;
  min-height: 100%;
}

.achat-user .insidepro {
  height: 83px;
  letter-spacing: -0.75px;
  line-height: 191.3px;
  margin-top: -81px;
  white-space: nowrap;
}

.achat-user .by-propulse-group {
  letter-spacing: 5.16px;
  line-height: 36.4px;
  margin-left: 4.0px;
  margin-top: 16px;
  min-height: 10px;
  min-width: 142px;
  text-align: center;
  white-space: nowrap;
}

.achat-user .overlap-group7 {
  border-radius: 15px;
  height: 969px;
  left: 370px;
  position: absolute;
  top: 828px;
  width: 1293px;
}

.achat-user .bg-copy-5 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 3.82px 21.67px 40px #695f971a;
  display: flex;
  height: 969px;
  justify-content: space-between;
  left: 0;
  opacity: 0.81;
  position: absolute;
  top: 0;
  width: 1293px;
}

.achat-user .terms {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 128px;
  margin-left: 84px;
  min-height: 77.47px;
  width: 527px;
}

.achat-user .departement {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.achat-user .overlap-group {
  height: 53px;
  margin-top: 18px;
  position: relative;
  width: 527px;
}

.achat-user .text-box-copy-3-1 {
  background-color: var(--white);
  border-radius: 8px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 527px;
}

.achat-user .slectionnez {
  left: 20px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.achat-user .arrow-dow-copy-4 {
  height: 6px;
  left: 497px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 10px;
}

.achat-user .terms-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 128px;
  margin-right: 79px;
  min-height: 77.47px;
  width: 527px;
}

.achat-user .responsable-departement {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.achat-user .text-box-copy-3-2 {
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 527px;
}

.achat-user .title-copy-4 {
  display: flex;
  height: 31px;
  left: 83px;
  position: absolute;
  top: 31px;
  width: 364px;
}

.achat-user .formulaire-de-demande-d-achat {
  flex: 1;
  letter-spacing: 0;
  line-height: 23px;
  margin-bottom: -6px;
  margin-right: -2px;
  margin-top: 4px;
  white-space: nowrap;
  width: 364px;
}

.achat-user .terms-tab-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 76px;
  min-height: 285px;
  position: absolute;
  top: 435px;
  width: 1130px;
}

.achat-user .description-du-projet {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-left: 9px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.achat-user .overlap-group2 {
  border-radius: 6px;
  height: 248px;
  margin-top: 30px;
  position: relative;
  width: 1130px;
}

.achat-user .text-editor {
  background-color: var(--white);
  border-radius: 6px;
  display: flex;
  height: 248px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1130px;
}

.achat-user .menu-bar {
  align-items: center;
  display: flex;
  flex: 1;
  height: 44px;
  margin-right: 333px;
  min-width: calc(100.00% - 333px);
  padding: 0 8px;
}

.achat-user .button-group-history {
  display: flex;
  height: 28px;
  justify-content: space-between;
  width: 66px;
}

.achat-user .menu-bar__button-3 {
  display: flex;
  width: 28px;
}

.achat-user .menu-bar__button-base {
  display: flex;
  flex: 1;
  width: 32px;
}

.achat-user .ic_undo {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .vector {
  flex: 1;
  margin-bottom: 3.8px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 3.1px;
  object-fit: cover;
  width: 15px;
}

.achat-user .menu-bar__button {
  display: flex;
  margin-right: 8px;
  width: 28px;
}

.achat-user .ic_redo {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .menu-bar__text-style-dropdown {
  display: flex;
  height: 28px;
  width: 125px;
}

.achat-user .menu-bar__button-base-2 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-left: 8px;
  margin-right: 8px;
  width: 109px;
}

.achat-user .text {
  flex: 1;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 2px;
  margin-left: 8px;
  margin-top: 4px;
  white-space: nowrap;
}

.achat-user .ic_chevron-down-1 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 6px;
  margin-right: 4px;
  margin-top: 6px;
  min-width: 16px;
  padding: 5.0px 3px;
}

.achat-user .vector-1 {
  height: 6px;
  object-fit: cover;
  width: 10px;
}

.achat-user .menu-bar__text-align-dropdown {
  display: flex;
  height: 28px;
  margin-left: 10px;
  width: 66px;
}

.achat-user .menu-bar__button-base-1 {
  align-items: center;
  display: flex;
  flex: 1;
  margin-left: 8px;
  margin-right: 8px;
  min-width: 85px;
  padding: 0 8px;
}

.achat-user .ic_text-align-left {
  display: flex;
  height: 20px;
  width: 20px;
}

.achat-user .vector-10 {
  flex: 1;
  margin-bottom: 2.5px;
  margin-left: 3.8px;
  margin-right: 3.8px;
  margin-top: 2.5px;
  object-fit: cover;
  width: 12.5px;
}

.achat-user .ic_chevron-down {
  align-items: flex-end;
  display: flex;
  height: 16px;
  margin-left: 2px;
  min-width: 16px;
  padding: 5.0px 3px;
}

.achat-user .menu-bar__color-picker-dropdown {
  display: flex;
  height: 28px;
  margin-left: 3px;
  width: 66px;
}

.achat-user .color-picker__list-item {
  background-color: var(--shark-2);
  border-radius: 4px;
  display: flex;
  height: 20px;
  width: 20px;
}

.achat-user .context-menu-color-picker-chip-border {
  border-radius: 4px;
  flex: 1;
  mix-blend-mode: multiply;
  width: 20px;
}

.achat-user .format {
  align-items: flex-start;
  display: flex;
  margin-left: 7px;
  min-width: 194px;
  padding: 0 7px;
}

.achat-user .menu-bar__button-4 {
  display: flex;
  height: 28px;
  margin-top: -1px;
  width: 28px;
}

.achat-user .ic_text-bold {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  min-width: 20px;
  padding: 0 5.3px;
}

.achat-user .vector-11 {
  height: 11px;
  object-fit: cover;
  width: 9px;
}

.achat-user .menu-bar__button-1 {
  display: flex;
  height: 28px;
  margin-left: 2px;
  margin-top: -1px;
  width: 28px;
}

.achat-user .ic_text-italic {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .vector-12 {
  flex: 1;
  margin-bottom: 4.4px;
  margin-left: 4.4px;
  margin-right: 4.4px;
  margin-top: 4.4px;
  object-fit: cover;
  width: 11.25px;
}

.achat-user .ic_text-underline {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .vector-13 {
  flex: 1;
  margin-bottom: 2.5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 3.1px;
  object-fit: cover;
  width: 15px;
}

.achat-user .ic_text-strikethrough {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .vector-14 {
  flex: 1;
  margin-bottom: 3.7px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 3.7px;
  object-fit: cover;
  width: 15px;
}

.achat-user .ic_inline-code {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .vector-15 {
  flex: 1;
  height: 8.75px;
  margin-left: 0.6px;
  margin-right: 0.6px;
  margin-top: 5.62px;
  object-fit: cover;
}

.achat-user .ic_text-clear-format {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .vector-16 {
  flex: 1;
  margin-bottom: 1.2px;
  margin-left: 1.2px;
  margin-right: 1.3px;
  margin-top: 1.2px;
  object-fit: cover;
  width: 17.5px;
}

.achat-user .list {
  display: flex;
  height: 28px;
  justify-content: space-between;
  margin-left: 6px;
  width: 74px;
}

.achat-user .menu-bar__button-5 {
  display: flex;
  margin-left: 8px;
  width: 28px;
}

.achat-user .ic_list-bulleted {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  min-width: 20px;
  padding: 0 1.2px;
}

.achat-user .vector-container-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 12px;
  width: 4px;
}

.achat-user .vector-17 {
  height: 4px;
  object-fit: cover;
  width: 4px;
}

.achat-user .vector-18 {
  height: 4px;
  margin-top: 5px;
  object-fit: cover;
  width: 4px;
}

.achat-user .vector-19 {
  height: 10px;
  margin-left: 4px;
  object-fit: cover;
  width: 9px;
}

.achat-user .ic_list-numbered {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .vector-20 {
  flex: 1;
  margin-bottom: 2.5px;
  margin-left: 2.5px;
  margin-right: 1.2px;
  margin-top: 2.5px;
  object-fit: cover;
  width: 16.25px;
}

.achat-user .etc {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: 8px;
  min-width: 156px;
}

.achat-user .menu-bar__button-6 {
  display: flex;
  height: 28px;
  width: 28px;
}

.achat-user .ic_link {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  min-width: 20px;
  padding: 2.5px 0.6px;
}

.achat-user .vector-container-6 {
  height: 14px;
  position: relative;
  width: 19px;
}

.achat-user .vector-21 {
  height: 13px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 13px;
}

.achat-user .vector-22 {
  height: 12px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 13px;
}

.achat-user .menu-bar__button-2 {
  display: flex;
  height: 28px;
  margin-left: 2px;
  width: 28px;
}

.achat-user .ic_image {
  align-items: center;
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  min-width: 20px;
  padding: 0 2.5px;
}

.achat-user .vector-container-7 {
  height: 15px;
  position: relative;
  width: 15px;
}

.achat-user .vector-23 {
  height: 4px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 4px;
}

.achat-user .vector-24 {
  height: 15px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 15px;
}

.achat-user .ic_code {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .vector-25 {
  flex: 1;
  margin-bottom: 3.8px;
  margin-left: 0.6px;
  margin-right: 0.6px;
  margin-top: 3.8px;
  object-fit: cover;
  width: 18.75px;
}

.achat-user .ic_quotes {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .vector-26 {
  flex: 1;
  margin-bottom: 4.4px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 3.8px;
  object-fit: cover;
  width: 15px;
}

.achat-user .ic_horizontal-rule {
  display: flex;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 4px;
  width: 20px;
}

.achat-user .rectangle-2486 {
  background-color: var(--shark-2);
  flex: 1;
  height: 1.25px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 9.38px;
}

.achat-user .media {
  display: flex;
  height: 17px;
  justify-content: space-between;
  left: 841px;
  position: absolute;
  top: 14px;
  width: 269px;
}

.achat-user .icons-content-smile {
  background-image: url(../img/vector-1668@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  width: 17.21px;
}

.achat-user .icons-content-insert-more {
  background-image: url(../img/vector-1669@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 1.9px;
  margin-right: 0;
  margin-top: 1.9px;
  width: 18.17px;
}

.achat-user .icon {
  background-image: url(../img/vector-1670@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 877px;
  position: absolute;
  top: 16px;
  width: 19px;
}

.achat-user .icon-1 {
  background-image: url(../img/vector-1671@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 18px;
  left: 790px;
  position: absolute;
  top: 13px;
  width: 22px;
}

.achat-user .icon-2 {
  background-image: url(../img/vector-1672@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 18px;
  left: 920px;
  position: absolute;
  top: 12px;
  width: 18px;
}

.achat-user .button-next {
  align-items: flex-start;
  background-color: var(--blaze-orange);
  border-radius: 17px;
  box-shadow: 1.39px 7.88px 29px #695f9724;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 980px;
  min-width: 172px;
  padding: 0 47px;
  position: absolute;
  top: 885px;
}

.achat-user .soumettre {
  letter-spacing: 0;
  line-height: 60px;
  margin-top: -12.43px;
  min-height: 23px;
  min-width: 76px;
  text-align: center;
  white-space: nowrap;
}

.achat-user .terms-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 83px;
  min-height: 77px;
  position: absolute;
  top: 112px;
  width: 628px;
}

.achat-user .type-dachat {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.achat-user .overlap-group3 {
  height: 53px;
  margin-top: 18px;
  position: relative;
  width: 628px;
}

.achat-user .text-box-copy-3-3 {
  background-color: var(--white);
  border-radius: 8px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 628px;
}

.achat-user .arrow-dow-copy-4-1 {
  height: 6px;
  left: 598px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 10px;
}

.achat-user .other {
  display: flex;
  height: 20px;
  justify-content: space-between;
  left: 83px;
  position: absolute;
  top: 900px;
  width: 233px;
}

.achat-user .icon-tick-copy-2 {
  object-fit: cover;
  width: 20px;
}

.achat-user .menvoyer-une-copie-par-e-mail {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 19.3px;
  margin-right: -2px;
  margin-top: -20.3px;
  white-space: nowrap;
  width: 198px;
}

.achat-user .due-date {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 83px;
  min-height: 77px;
  position: absolute;
  top: 324px;
  width: 632px;
}

.achat-user .projet-li {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.achat-user .overlap-group-1 {
  height: 52px;
  margin-left: 0;
  margin-top: 18px;
  position: relative;
  width: 632px;
}

.achat-user .text-box-copy-3 {
  background-color: var(--white);
  border-radius: 8px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 632px;
}

.achat-user .x-projet {
  left: 18px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.achat-user .attach-files {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 825px;
  min-height: 302px;
  position: absolute;
  top: 114px;
  width: 389px;
}

.achat-user .ajouter-un-fichier {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-left: 9px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.achat-user .overlap-group5 {
  height: 267px;
  margin-top: 28px;
  position: relative;
  width: 389px;
}

.achat-user .bg {
  display: flex;
  height: 267px;
  left: 0;
  position: absolute;
  top: 0;
  width: 389px;
}

.achat-user .bg-1 {
  border-radius: 30px;
  flex: 1;
  margin-bottom: -40.5px;
  margin-left: -37.5px;
  margin-right: -37.5px;
  margin-top: -34.5px;
  object-fit: cover;
  width: 464px;
}

.achat-user .choisir-les-fichiers-tlcharger {
  left: 98px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 111px;
  white-space: nowrap;
}

.achat-user .ou {
  left: 187px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 135px;
  white-space: nowrap;
}

.achat-user .button-browse-file {
  background-color: var(--white);
  border-radius: 17px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  left: 105px;
  position: absolute;
  top: 186px;
  width: 190px;
}

.achat-user .icon-upload {
  height: 13.01px;
  margin-left: 14.0px;
  margin-top: -6.3px;
  object-fit: cover;
  width: 12px;
}

.achat-user .parcourir-les-fichiers {
  align-self: flex-end;
  height: 21px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -32.5px;
  margin-right: 25px;
  text-align: center;
  white-space: nowrap;
  width: 126px;
}

.achat-user .rectangle-54 {
  height: 84px;
  left: 129px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 127px;
}

.achat-user .due-date-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 83px;
  min-height: 77px;
  position: absolute;
  top: 214px;
  width: 632px;
}

.achat-user .intitul-du-projet {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.achat-user .overlap-group10 {
  border-radius: 15px;
  height: 463px;
  left: 370px;
  position: absolute;
  top: 321px;
  width: 1284px;
}

.achat-user .showing-1-10-from-46-data {
  height: 26px;
  left: 49px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 413px;
  width: 328px;
}

.achat-user .liste {
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 463px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 1284px;
}

.achat-user .groupe-914 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 31.0px;
  margin-right: 26.0px;
  margin-top: 29.0px;
  max-height: 347px;
  min-height: 347px;
}

.achat-user .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  margin-right: 2.0px;
  min-width: 1189px;
}

.achat-user .overlap-group7-1 {
  align-self: flex-end;
  height: 33px;
  position: relative;
  width: 537px;
}

.achat-user .total-candidates {
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 3px;
  width: 537px;
}

.achat-user .overlap-group-5 {
  height: 33px;
  left: 362px;
  position: absolute;
  top: 0;
  width: 62px;
}

.achat-user .frame-376 {
  background-color: var(--serenade);
  border-radius: 6px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.achat-user .x20 {
  height: 23px;
  left: 8px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 6px;
  width: 54px;
}

.achat-user .frame {
  background-color: var(--blaze-orange);
  border-radius: 9px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-left: 294px;
  margin-top: 0;
  width: 169px;
}

.achat-user .icon-awesome-file-export {
  height: 15.28px;
  margin-left: 19.5px;
  margin-top: -7.0px;
  object-fit: cover;
  width: 23.55px;
}

.achat-user .filter {
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 3.0px;
  margin-right: 10.0px;
  margin-top: 5.0px;
  width: 101px;
}

.achat-user .overlap-group1-1 {
  height: 30px;
  margin-left: 38px;
  position: relative;
  width: 151px;
}

.achat-user .frame-1 {
  background-color: var(--blaze-orange);
  border-radius: 9px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 131px;
}

.achat-user .filter-1 {
  height: 22px;
  left: 50px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 5px;
  width: 101px;
}

.achat-user .icon-material-filter-list {
  height: 10px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 21px;
}

.achat-user .overlap-group8 {
  height: 298px;
  margin-top: 15px;
  position: relative;
  width: 1227px;
}

.achat-user .rectangle-242 {
  background-color: var(--white);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1216px;
}

.achat-user .frame-2 {
  background-color: var(--white);
  height: 56px;
  left: 0;
  position: absolute;
  top: 73px;
  width: 1220px;
}

.achat-user .frame-3 {
  background-color: var(--white);
  height: 56px;
  left: 0;
  position: absolute;
  top: 129px;
  width: 1227px;
}

.achat-user .frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 157px;
  position: absolute;
  top: 85px;
  width: 1227px;
}

.achat-user .rectangle-1 {
  border-radius: 2px;
  height: 19px;
  margin-left: 24px;
  width: 24px;
}

.achat-user .rectangle-2 {
  border-radius: 2px;
  height: 19px;
  margin-left: 24px;
  margin-top: 44px;
  width: 24px;
}

.achat-user .overlap-group2-1 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 57px;
  margin-top: 18px;
  min-width: 1227px;
  padding: 19.0px 24px;
}

.achat-user .rectangle {
  border-radius: 2px;
  height: 19px;
  width: 24px;
}

.achat-user .frame-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 56px;
  left: 0;
  min-width: 1227px;
  padding: 18.0px 24px;
  position: absolute;
  top: 242px;
}

.achat-user .utlisateur {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 411px;
  min-height: 264px;
  position: absolute;
  top: 14px;
  width: 257px;
}

.achat-user .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 1px;
  min-width: 191px;
}

.achat-user .utilisateur {
  align-self: flex-end;
  height: 23px;
  letter-spacing: 0;
  line-height: 14px;
  width: 172px;
}

.achat-user .iconarrow {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: 2px;
  min-width: 17px;
}

.achat-user .overlap-group-2 {
  height: 13px;
  margin-top: 0;
  position: relative;
  width: 17px;
}

.achat-user .group {
  align-items: flex-start;
  display: flex;
  height: 9px;
  justify-content: center;
  left: 2px;
  min-width: 13px;
  position: absolute;
  top: 2px;
}

.achat-user .vector-container {
  height: 11px;
  margin-top: -0.6px;
  position: relative;
  width: 7px;
}

.achat-user .vector-2 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 7px;
}

.achat-user .vector-3 {
  height: 11px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.achat-user .vector-container-1 {
  height: 11px;
  margin-left: 1px;
  margin-top: -0.6px;
  position: relative;
  width: 7px;
}

.achat-user .vector-4 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 7px;
}

.achat-user .vector-5 {
  height: 13px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 17px;
}

.achat-user .cameron-williamson {
  height: 22px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 0;
  margin-top: 46px;
  opacity: 0.74;
  width: 221px;
}

.achat-user .name {
  display: flex;
  height: 20px;
  margin-left: 0;
  margin-top: 35px;
  width: 192px;
}

.achat-user .savannah-nguyen {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 192px;
}

.achat-user .name-1 {
  display: flex;
  height: 20px;
  margin-left: 0;
  margin-top: 36px;
  width: 238px;
}

.achat-user .darlene-robertson {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 238px;
}

.achat-user .name-2 {
  display: flex;
  height: 25px;
  margin-left: 0;
  margin-top: 36px;
  width: 259px;
}

.achat-user .leslie-alexander {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 259px;
}

.achat-user .statut {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 994px;
  min-height: 255px;
  position: absolute;
  top: 16px;
  width: 201px;
}

.achat-user .overlap-group4 {
  align-self: flex-end;
  height: 23px;
  position: relative;
  width: 194px;
}

.achat-user .statut-1 {
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 194px;
}

.achat-user .iconarrow-1 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  left: 75px;
  min-width: 17px;
  padding: 0 0.0px;
  position: absolute;
  top: 1px;
}

.achat-user .owner {
  align-items: flex-end;
  background-color: var(--madang);
  border-radius: 5px;
  display: flex;
  height: 21px;
  justify-content: flex-end;
  margin-left: 0.28px;
  margin-top: 45px;
  min-width: 99px;
  padding: 0 1px;
}

.achat-user .en-cours {
  height: 23px;
  letter-spacing: -0.42px;
  line-height: 14px;
  margin-bottom: -2px;
  width: 90px;
}

.achat-user .overlap-group-6 {
  height: 23px;
  margin-left: 0;
  margin-top: 38px;
  position: relative;
  width: 101px;
}

.achat-user .trac-562 {
  height: 21px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 99px;
}

.achat-user .accepetr {
  height: 23px;
  left: 10px;
  letter-spacing: -0.42px;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 91px;
}

.achat-user .overlap-group1-2 {
  height: 23px;
  margin-left: 0.28px;
  margin-top: 30px;
  position: relative;
  width: 106px;
}

.achat-user .rectangle-39 {
  background-color: var(--sundown);
  border-radius: 5px;
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.achat-user .en-cours-1 {
  height: 23px;
  left: 19px;
  letter-spacing: -0.42px;
  line-height: 14px;
  opacity: 0.74;
  position: absolute;
  top: 0;
  width: 87px;
}

.achat-user .overlap-group2-2 {
  height: 23px;
  margin-left: 0.28px;
  margin-top: 31px;
  position: relative;
  width: 100px;
}

.achat-user .rectangle-38 {
  background-color: var(--madang);
  border-radius: 5px;
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 97px;
}

.achat-user .refuser {
  height: 23px;
  left: 6px;
  letter-spacing: -0.42px;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 94px;
}

.achat-user .type {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 73px;
  min-height: 266px;
  position: absolute;
  top: 17px;
  width: 284px;
}

.achat-user .overlap-group5-1 {
  height: 23px;
  margin-left: 3.84px;
  position: relative;
  width: 200px;
}

.achat-user .type-1 {
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 187px;
}

.achat-user .iconarrow-2 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  justify-content: center;
  left: 183px;
  min-width: 17px;
  position: absolute;
  top: 1px;
}

.achat-user .frame-6 {
  align-items: flex-end;
  display: flex;
  margin-left: 1.38px;
  margin-top: 49px;
  min-width: 284px;
}

.achat-user .iconmagic-star-1 {
  background-image: url(../img/vector-743@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  margin-bottom: 0;
  width: 25px;
}

.achat-user .x49 {
  height: 23px;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -0.4px;
  margin-left: 9px;
  opacity: 0.74;
  width: 250px;
}

.achat-user .frame-7 {
  display: flex;
  height: 24px;
  margin-top: 33px;
  width: 229px;
}

.achat-user .iconmagic-star {
  background-image: url(../img/vector-744@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  width: 25.4px;
}

.achat-user .x47 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -0.3px;
  margin-left: 8.4px;
  margin-right: -2px;
  margin-top: 1.6px;
  opacity: 0.74;
}

.achat-user .frame-8 {
  display: flex;
  height: 24px;
  margin-top: 32px;
  width: 263px;
}

.achat-user .x00 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -0.3px;
  margin-left: 8.4px;
  margin-right: -2px;
  margin-top: 1.6px;
  opacity: 0.74;
}

.achat-user .frame-9 {
  display: flex;
  height: 24px;
  margin-left: 0;
  margin-top: 32px;
  width: 262px;
}

.achat-user .x49-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -0.3px;
  margin-left: 8.4px;
  margin-right: -2px;
  margin-top: 1.6px;
  opacity: 0.74;
}

.achat-user .date {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 701px;
  min-height: 255px;
  position: absolute;
  top: 16px;
  width: 204px;
}

.achat-user .overlap-group6 {
  align-self: flex-start;
  height: 23px;
  margin-left: 8px;
  position: relative;
  width: 169px;
}

.achat-user .date-heure {
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 169px;
}

.achat-user .iconarrow-3 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  justify-content: center;
  left: 121px;
  min-width: 17px;
  position: absolute;
  top: 1px;
}

.achat-user .shortlist {
  height: 23px;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: -2.0px;
  margin-top: 47px;
  opacity: 0.74;
  width: 201px;
}

.achat-user .frame-10 {
  display: flex;
  height: 21px;
  margin-right: 3.0px;
  margin-top: 34px;
  width: 196px;
}

.achat-user .interview {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 196px;
}

.achat-user .frame-11 {
  display: flex;
  height: 21px;
  margin-right: 2.0px;
  margin-top: 33px;
  width: 198px;
}

.achat-user .new-applied {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 198px;
}

.achat-user .frame-12 {
  display: flex;
  height: 21px;
  margin-right: -2.0px;
  margin-top: 32px;
  width: 206px;
}

.achat-user .test {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 206px;
}

.achat-user .top {
  border-radius: 2px;
  height: 19px;
  left: 24px;
  position: absolute;
  top: 17px;
  width: 24px;
}

.achat-user .ligne-2 {
  height: 2px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 295px;
  width: 1225px;
}

.achat-user .ligne-3 {
  height: 2px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 237px;
  width: 1225px;
}

.achat-user .ligne-4 {
  height: 2px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 182px;
  width: 1225px;
}

.achat-user .ligne-5 {
  height: 2px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 128px;
  width: 1225px;
}

.achat-user .ligne-6 {
  height: 2px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 1225px;
}

.achat-user .pagination {
  align-items: flex-start;
  display: flex;
  flex: 1;
  height: 34px;
  margin-bottom: 26px;
  margin-left: 36px;
  margin-right: 26px;
  max-height: 34px;
  min-width: calc(100.00% - 62px);
}

.achat-user .showing-1-10-from-46-data-1 {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  width: 328px;
}

.achat-user .btn-prev {
  align-items: flex-start;
  border-radius: 14px;
  display: flex;
  height: 31px;
  margin-left: 657px;
  min-width: 34px;
  padding: 10.5px 12.1px;
}

.achat-user .ic_chevron {
  align-items: flex-start;
  display: flex;
  height: 8px;
  min-width: 9px;
  transform: rotate(180deg);
}

.achat-user .vector-container-2 {
  height: 11px;
  margin-left: -1px;
  margin-top: -1.41px;
  position: relative;
  width: 11px;
}

.achat-user .vector-27 {
  height: 11px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 6px;
}

.achat-user .vector-28 {
  height: 11px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 6px;
}

.achat-user .number {
  align-items: flex-end;
  display: flex;
  height: 32px;
  margin-left: 15px;
  min-width: 148px;
}

.achat-user .overlap-group-7 {
  height: 34px;
  margin-bottom: -2px;
  position: relative;
  width: 34px;
}

.achat-user .selected-page {
  background-color: var(--blaze-orange);
  border-radius: 14px;
  box-shadow: 0px 7px 32px #00000024;
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.achat-user .number-1 {
  height: 31px;
  left: 14px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 3px;
  width: 7px;
}

.achat-user .number-2 {
  height: 31px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 15px;
  width: 9px;
}

.achat-user .number-3 {
  height: 31px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 28px;
  width: 9px;
}

.achat-user .number-4 {
  height: 31px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 28px;
  width: 10px;
}

.achat-user .btn-next {
  align-items: flex-start;
  border-radius: 14px;
  display: flex;
  height: 31px;
  margin-left: 6px;
  min-width: 34px;
  padding: 10.5px 11.1px;
}

.achat-user .ic_chevron-1 {
  align-items: flex-start;
  display: flex;
  height: 8px;
  min-width: 9px;
}

.achat-user .vector-29 {
  height: 11px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6px;
}

.achat-user .vector-30 {
  height: 11px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6px;
}

.achat-user .tab-de-haut {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 107px;
  left: 366px;
  min-width: 1265px;
  padding: 23px 237px;
  position: absolute;
  top: 176px;
}

.achat-user .summary {
  align-items: flex-start;
  display: flex;
  min-width: 791px;
}

.achat-user .total-clients {
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 122px;
}

.achat-user .icon-3 {
  align-items: flex-start;
  background-color: var(--narvik);
  border-radius: 24px;
  display: flex;
  min-width: 60px;
  padding: 19.5px 20.8px;
}

.achat-user .icon-awesome-calendar-check {
  height: 20px;
  object-fit: cover;
  width: 18px;
}

.achat-user .text-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.6px;
  margin-top: 2.4px;
  width: 44px;
}

.achat-user .traits {
  flex: 1;
  height: 22px;
  letter-spacing: 0;
  line-height: 60px;
  margin-right: -2px;
  margin-top: -20px;
  max-height: 22px;
  white-space: nowrap;
}

.achat-user .number-5 {
  flex: 1;
  height: 34px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 12px;
  margin-right: 3px;
  max-height: 34px;
  white-space: nowrap;
}

.achat-user .sale {
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-left: 201px;
  width: 126px;
}

.achat-user .icon-4 {
  align-items: flex-start;
  background-color: var(--chablis);
  border-radius: 24px;
  display: flex;
  justify-content: flex-end;
  min-width: 60px;
  padding: 18.7px 18.7px;
}

.achat-user .icon-material-cancel {
  height: 22px;
  object-fit: cover;
  width: 22px;
}

.achat-user .text-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.6px;
  margin-top: 2.4px;
  width: 48px;
}

.achat-user .rejeter {
  flex: 1;
  height: 22px;
  letter-spacing: 0;
  line-height: 60px;
  margin-right: -2px;
  margin-top: -20px;
  max-height: 22px;
  white-space: nowrap;
}

.achat-user .number-6 {
  height: 34px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 12px;
  white-space: nowrap;
  width: 41px;
}

.achat-user .project {
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-left: 185px;
  width: 157px;
}

.achat-user .icon-5 {
  align-items: flex-start;
  background-color: var(--buttery-white);
  border-radius: 24px;
  display: flex;
  justify-content: flex-end;
  min-width: 60px;
  padding: 13.7px 13.7px;
}

.achat-user .icon-feather-loader {
  align-items: flex-start;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  min-width: 31px;
}

.achat-user .flex-row-3 {
  align-items: center;
  display: flex;
  height: 33px;
  margin-top: -0.83px;
  min-width: 17px;
}

.achat-user .trac-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  min-height: 25px;
  width: 11px;
}

.achat-user .trac-567 {
  height: 7px;
  margin-left: 4.24px;
  object-fit: cover;
  width: 7px;
}

.achat-user .trac-569 {
  height: 2px;
  margin-top: 5px;
  object-fit: cover;
  width: 8px;
}

.achat-user .trac-571 {
  height: 7px;
  margin-left: 4.24px;
  margin-top: 5px;
  object-fit: cover;
  width: 7px;
}

.achat-user .trac-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 33px;
  width: 2px;
}

.achat-user .trac-565 {
  height: 8px;
  object-fit: cover;
  width: 2px;
}

.achat-user .trac-566 {
  height: 8px;
  margin-top: 17px;
  object-fit: cover;
  width: 2px;
}

.achat-user .trac-container-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 5px;
  min-height: 25px;
  width: 11px;
}

.achat-user .trac-572 {
  height: 7px;
  object-fit: cover;
  width: 7px;
}

.achat-user .trac-570 {
  height: 2px;
  margin-left: 3.1px;
  margin-top: 5px;
  object-fit: cover;
  width: 8px;
}

.achat-user .trac-568 {
  height: 7px;
  margin-top: 5px;
  object-fit: cover;
  width: 7px;
}

.achat-user .text-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.6px;
  margin-top: 2.4px;
  width: 79px;
}

.achat-user .non-traits {
  flex: 1;
  height: 22px;
  letter-spacing: 0;
  line-height: 60px;
  margin-right: -2px;
  margin-top: -20px;
  max-height: 22px;
  white-space: nowrap;
}

.achat-user .number-7 {
  height: 34px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 12px;
  white-space: nowrap;
  width: 15px;
}
