/* screen - admin-management-gestion-poste */

.admin-management-gestion-poste {
  align-items: flex-start;
  background-color: var(--black-haze);
  display: flex;
  height: 1706px;
  overflow: hidden;
  width: 1675px;
}

.admin-management-gestion-poste .overlap-group6 {
  height: 1989px;
  margin-left: -11px;
  margin-top: -14px;
  position: relative;
  width: 1639px;
}

.admin-management-gestion-poste .menu-notif {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  left: 1415px;
  min-width: 224px;
  position: absolute;
  top: 66px;
}

.admin-management-gestion-poste .icon-feather-search {
  align-items: flex-start;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  margin-top: 6.0px;
  min-width: 26px;
}

.admin-management-gestion-poste .trac-container-1 {
  height: 29px;
  margin-top: -1.0px;
  position: relative;
  width: 29px;
}

.admin-management-gestion-poste .trac-560 {
  height: 25px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}

.admin-management-gestion-poste .trac-561 {
  height: 9px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 9px;
}

.admin-management-gestion-poste .icon-feather-mail {
  align-items: flex-start;
  display: flex;
  height: 23px;
  margin-left: 40px;
  margin-top: 2.0px;
  min-width: 29px;
}

.admin-management-gestion-poste .trac-container-2 {
  height: 25px;
  margin-left: -1px;
  margin-top: -1.0px;
  position: relative;
  width: 32px;
}

.admin-management-gestion-poste .trac-558 {
  height: 25px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 31px;
}

.admin-management-gestion-poste .trac-559 {
  height: 13px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 32px;
}

.admin-management-gestion-poste .icon-notification {
  display: flex;
  height: 31px;
  margin-left: 30px;
  margin-top: 3.0px;
  width: 26px;
}

.admin-management-gestion-poste .vector-smart-object {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 25.56px;
}

.admin-management-gestion-poste .overlap-group {
  height: 33px;
  margin-left: -1px;
  margin-top: -1.02px;
  position: relative;
  width: 28px;
}

.admin-management-gestion-poste .trac-88 {
  height: 27px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 26px;
}

.admin-management-gestion-poste .trac-89 {
  height: 8px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 12px;
}

.admin-management-gestion-poste .ellipse-1 {
  background: linear-gradient(24.88deg, #ff0000 141845.66%, #fcba59 165027.1%);
  border-radius: 6.2px/5.96px;
  height: 14px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 14px;
}

.admin-management-gestion-poste .ellipse-7 {
  border-radius: 23.5px/24px;
  height: 48px;
  margin-left: 25px;
  object-fit: cover;
  width: 47px;
}

.admin-management-gestion-poste .overlap-group5 {
  height: 1989px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1639px;
}

.admin-management-gestion-poste .dashboard-1 {
  height: 27px;
  left: 348px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 71px;
  white-space: nowrap;
  width: 443px;
}

.admin-management-gestion-poste .hello-thomas-welcome-to-galucter {
  left: 383px;
  letter-spacing: -0.16px;
  line-height: 16px;
  opacity: 0.6;
  position: absolute;
  top: 106px;
  width: 728px;
}

.admin-management-gestion-poste .vector-smart-object-1 {
  display: flex;
  height: 23px;
  left: 349px;
  position: absolute;
  top: 107px;
  width: 24px;
}

.admin-management-gestion-poste .groupe-5 {
  display: flex;
  flex: 1;
  width: 24px;
}

.admin-management-gestion-poste .groupe-4 {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 24px;
}

.admin-management-gestion-poste .groupe-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-bottom: 3.1px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3.4px;
  min-width: 24px;
  opacity: 0.5;
}

.admin-management-gestion-poste .trac-container {
  height: 17px;
  margin-top: 0;
  position: relative;
  width: 10px;
}

.admin-management-gestion-poste .trac-91 {
  height: 8px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 3px;
}

.admin-management-gestion-poste .trac-93 {
  height: 12px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 4px;
}

.admin-management-gestion-poste .trac-96 {
  height: 17px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.admin-management-gestion-poste .trac-90 {
  align-self: center;
  height: 3px;
  margin-bottom: 0.01px;
  object-fit: cover;
  width: 3px;
}

.admin-management-gestion-poste .trac-92 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 3px;
}

.admin-management-gestion-poste .trac-94 {
  height: 12px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 4px;
}

.admin-management-gestion-poste .trac-95 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.admin-management-gestion-poste .overlap-group3 {
  height: 1989px;
  left: 0;
  position: absolute;
  top: 0;
  width: 414px;
}

.admin-management-gestion-poste .rectangle-sidebar {
  height: 1989px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 314px;
}

.admin-management-gestion-poste .dashboard-active {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 535px;
  position: absolute;
  top: 225px;
  width: 311px;
}

.admin-management-gestion-poste .flex-row {
  align-items: flex-start;
  display: flex;
  height: 28px;
  margin-right: 16.5px;
  min-width: 194px;
}

.admin-management-gestion-poste .x012-home {
  background-image: url(../img/vector-1057@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23px;
  width: 21px;
}

.admin-management-gestion-poste .dashboard-2 {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 16px;
  width: 157px;
}

.admin-management-gestion-poste .rectangle-31 {
  background-color: var(--seashell-peach);
  border-radius: 0px 50px 50px 0px;
  height: 73px;
  margin-top: 434px;
  width: 311px;
}

.admin-management-gestion-poste .contacts {
  display: flex;
  height: 46px;
  left: 50px;
  position: absolute;
  top: 628px;
  width: 156px;
}

.admin-management-gestion-poste .contacts-1 {
  display: flex;
  flex: 1;
  width: 155.67px;
}

.admin-management-gestion-poste .group-4 {
  display: flex;
  flex: 1;
  width: 155.67px;
}

.admin-management-gestion-poste .group-1 {
  display: flex;
  flex: 1;
  width: 157.67px;
}

.admin-management-gestion-poste .x036-social {
  background-image: url(../img/vector-1449@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23.93px;
  margin-left: 0;
  margin-top: 0;
  width: 23.33px;
}

.admin-management-gestion-poste .dashboard-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2.0px;
  margin-left: 19.3px;
  margin-right: -2.0px;
  margin-top: 3.7px;
}

.admin-management-gestion-poste .invoicing {
  display: flex;
  height: 42px;
  left: 51px;
  position: absolute;
  top: 295px;
  width: 247px;
}

.admin-management-gestion-poste .invoicing-1 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  width: 246.5px;
}

.admin-management-gestion-poste .group-7 {
  display: flex;
  flex: 1;
  margin-right: 4.5px;
}

.admin-management-gestion-poste .group-1-1 {
  display: flex;
  flex: 1;
  width: 239.33px;
}

.admin-management-gestion-poste .x011-file {
  background-image: url(../img/vector-1064@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23.33px;
  margin-left: 0;
  margin-top: 1.3px;
  width: 18.67px;
}

.admin-management-gestion-poste .dashboard-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  margin-left: 21.7px;
  margin-right: -2.0px;
}

.admin-management-gestion-poste .icon-feather-chevron-down {
  height: 9.27px;
  margin-right: -0.6px;
  margin-top: -2.4px;
  object-fit: cover;
  width: 5.26px;
}

.admin-management-gestion-poste .calendar {
  display: flex;
  height: 42px;
  left: 50px;
  position: absolute;
  top: 369px;
  width: 220px;
}

.admin-management-gestion-poste .calendar-1 {
  display: flex;
  flex: 1;
  width: 220.5px;
}

.admin-management-gestion-poste .group-12 {
  display: flex;
  flex: 1;
  width: 220.5px;
}

.admin-management-gestion-poste .group-1-2 {
  display: flex;
  flex: 1;
  width: 222.5px;
}

.admin-management-gestion-poste .x003-date {
  background-image: url(../img/vector-1169@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 22.17px;
  margin-left: 0;
  margin-top: 1.3px;
  width: 21.0px;
}

.admin-management-gestion-poste .dashboard-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  margin-left: 20.5px;
  margin-right: -2.0px;
}

.admin-management-gestion-poste .overlap-group1 {
  height: 45px;
  left: 50px;
  position: absolute;
  top: 428px;
  width: 266px;
}

.admin-management-gestion-poste .calendar-2 {
  display: flex;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 266px;
}

.admin-management-gestion-poste .group-12-1 {
  display: flex;
  flex: 1;
  width: 265.5px;
}

.admin-management-gestion-poste .group-1-3 {
  display: flex;
  flex: 1;
  width: 267.5px;
}

.admin-management-gestion-poste .x007-edit {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 0;
  margin-top: 0;
  min-width: 21px;
  padding: 0 0.0px;
}

.admin-management-gestion-poste .vector-container-1 {
  height: 21px;
  position: relative;
  width: 21px;
}

.admin-management-gestion-poste .vector-1 {
  height: 16px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}

.admin-management-gestion-poste .vector-2 {
  height: 21px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 21px;
}

.admin-management-gestion-poste .dashboard-6 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2.0px;
  margin-left: 20.5px;
  margin-right: -2.0px;
  margin-top: 2.5px;
}

.admin-management-gestion-poste .icon-feather-chevron-down-1 {
  height: 9px;
  left: 243px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 5px;
}

.admin-management-gestion-poste .footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 40px;
  min-height: 93px;
  position: absolute;
  top: 1570px;
  width: 257px;
}

.admin-management-gestion-poste .x2021-all-rights-reserved {
  height: 20px;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 10.0px;
  margin-top: -3px;
  text-align: center;
  white-space: nowrap;
  width: 172px;
}

.admin-management-gestion-poste .unicos-modern-dashboard {
  align-self: flex-end;
  height: 23px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 4px;
  white-space: nowrap;
  width: 236px;
}

.admin-management-gestion-poste .x2021-all-rights-reserved-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 10.0px;
  margin-top: 4px;
  white-space: nowrap;
  width: 172px;
}

.admin-management-gestion-poste .made-with-by-peterdraw {
  align-self: flex-start;
  height: 20px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 4px;
  text-align: center;
  white-space: nowrap;
  width: 247px;
}

.admin-management-gestion-poste .banking {
  display: flex;
  height: 42px;
  left: 50px;
  position: absolute;
  top: 494px;
  width: 203px;
}

.admin-management-gestion-poste .banking-1 {
  display: flex;
  flex: 1;
  width: 202.67px;
}

.admin-management-gestion-poste .group-8 {
  display: flex;
  flex: 1;
  width: 202.67px;
}

.admin-management-gestion-poste .group-1-4 {
  display: flex;
  flex: 1;
  width: 204.67px;
}

.admin-management-gestion-poste .x040-wallet {
  background-image: url(../img/vector-1075@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 21px;
  margin-left: 0;
  margin-top: 1.5px;
  width: 23.33px;
}

.admin-management-gestion-poste .dashboard {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  margin-left: 19.3px;
  margin-right: -2.0px;
}

.admin-management-gestion-poste .crypto {
  display: flex;
  height: 42px;
  left: 50px;
  position: absolute;
  top: 564px;
  width: 183px;
}

.admin-management-gestion-poste .crypto-1 {
  display: flex;
  flex: 1;
  width: 182.67px;
}

.admin-management-gestion-poste .group-5 {
  display: flex;
  flex: 1;
  width: 182.67px;
}

.admin-management-gestion-poste .group-1-5 {
  display: flex;
  flex: 1;
  width: 184.67px;
}

.admin-management-gestion-poste .x005-dollar {
  align-items: flex-start;
  display: flex;
  height: 23.33px;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 0.3px;
  min-width: 23.33px;
}

.admin-management-gestion-poste .vector-container-2 {
  height: 23px;
  margin-top: 0;
  position: relative;
  width: 23px;
}

.admin-management-gestion-poste .vector-3 {
  height: 14px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}

.admin-management-gestion-poste .vector-4 {
  height: 23px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 23px;
}

.admin-management-gestion-poste .icon-open-menu {
  height: 13px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 14px;
}

.admin-management-gestion-poste .logo {
  display: flex;
  height: 81px;
  left: 60px;
  position: absolute;
  top: 74px;
  width: 354px;
}

.admin-management-gestion-poste .groupe-1 {
  align-items: flex-end;
  display: flex;
  height: 50.64px;
  justify-content: flex-end;
  min-width: 50px;
  padding: 0.0px 0;
}

.admin-management-gestion-poste .overlap-group-1 {
  height: 51px;
  position: relative;
  width: 50px;
}

.admin-management-gestion-poste .subtract {
  height: 21px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 20px;
}

.admin-management-gestion-poste .subtract-1 {
  height: 47px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 48px;
}

.admin-management-gestion-poste .ellipse-4 {
  background-color: var(--yellow-orange);
  border-radius: 6.3px;
  height: 13px;
  left: 35px;
  position: absolute;
  top: 35px;
  transform: rotate(-41.90deg);
  width: 13px;
}

.admin-management-gestion-poste .groupe-3-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 4.5px;
  min-height: 100%;
}

.admin-management-gestion-poste .insidepro {
  height: 83px;
  letter-spacing: -0.75px;
  line-height: 191.3px;
  margin-top: -81px;
  white-space: nowrap;
}

.admin-management-gestion-poste .by-propulse-group {
  letter-spacing: 5.16px;
  line-height: 36.4px;
  margin-left: 4.0px;
  margin-top: 16px;
  min-height: 10px;
  min-width: 142px;
  text-align: center;
  white-space: nowrap;
}

.admin-management-gestion-poste .overlap-group2 {
  height: 126px;
  left: 50px;
  position: absolute;
  top: 712px;
  width: 247px;
}

.admin-management-gestion-poste .file-manager {
  display: flex;
  height: 126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 247px;
}

.admin-management-gestion-poste .group-10 {
  display: flex;
  flex: 1;
  margin-left: 0;
  margin-right: 0;
  width: 246.67px;
}

.admin-management-gestion-poste .group-1-6 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 248.67px;
}

.admin-management-gestion-poste .x014-folder {
  background-image: url(../img/vector-1468@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 21px;
  margin-top: 4.5px;
  width: 23px;
}

.admin-management-gestion-poste .dashboard-container {
  height: 120px;
  margin-left: 19px;
  position: relative;
  width: 206px;
}

.admin-management-gestion-poste .dashboard-7 {
  height: 44px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 0;
  width: 126px;
}

.admin-management-gestion-poste .dashboard-8 {
  height: 92px;
  left: 4px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 28px;
  width: 202px;
}

.admin-management-gestion-poste .icon-feather-chevron-down-2 {
  height: 5px;
  left: 235px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 9px;
}

.admin-management-gestion-poste .content-popup-step-2 {
  align-items: flex-start;
  background-color: var(--white-2);
  border-radius: 15px;
  box-shadow: 3.82px 21.67px 40px #695f971a;
  display: flex;
  flex-direction: column;
  left: 361px;
  min-height: 382px;
  padding: 41.1px 41.7px;
  position: absolute;
  top: 273px;
  width: 1264px;
}

.admin-management-gestion-poste .title-copy-4 {
  display: flex;
  height: 31px;
  margin-left: 25.33px;
  margin-top: 12px;
  width: 331px;
}

.admin-management-gestion-poste .formulaire-dajout-des-postes {
  flex: 1;
  letter-spacing: 0;
  line-height: 23px;
  margin-bottom: -6px;
  margin-right: -2px;
  margin-top: 4px;
  white-space: nowrap;
  width: 331px;
}

.admin-management-gestion-poste .flex-row-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 200px;
  margin-top: 57px;
  min-width: 1167px;
}

.admin-management-gestion-poste .terms {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 11.0px;
  min-height: 76px;
  width: 538px;
}

.admin-management-gestion-poste .intitul-poste {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -37px;
  margin-top: -20px;
  min-height: 23px;
  white-space: nowrap;
}

.admin-management-gestion-poste .overlap-group3-1 {
  height: 53px;
  margin-top: 20px;
  position: relative;
  width: 538px;
}

.admin-management-gestion-poste .text-box-copy-3 {
  background-color: var(--white);
  border-radius: 8px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 538px;
}

.admin-management-gestion-poste .profil {
  left: 20px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.admin-management-gestion-poste .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 39px;
  min-height: 200px;
  width: 590px;
}

.admin-management-gestion-poste .terms-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 111px;
  width: 590px;
}

.admin-management-gestion-poste .description {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -37px;
  margin-top: -20px;
  min-height: 23px;
  white-space: nowrap;
}

.admin-management-gestion-poste .overlap-group-2 {
  height: 92px;
  margin-top: 16px;
  position: relative;
  width: 590px;
}

.admin-management-gestion-poste .text-box-copy-3-1 {
  background-color: var(--white);
  border-radius: 8px;
  height: 85px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 590px;
}

.admin-management-gestion-poste .button-next {
  align-items: flex-start;
  display: flex;
  height: 40px;
  margin-right: 13.24px;
  margin-top: 48px;
  min-width: 388px;
}

.admin-management-gestion-poste .overlap-group2-1 {
  height: 52px;
  margin-top: -12.09px;
  position: relative;
  width: 172px;
}

.admin-management-gestion-poste .bg {
  height: 40px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 172px;
}

.admin-management-gestion-poste .annuler {
  left: 58px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.admin-management-gestion-poste .overlap-group1-1 {
  height: 52px;
  margin-left: 44px;
  margin-top: -12.09px;
  position: relative;
  width: 172px;
}

.admin-management-gestion-poste .bg-1 {
  background-color: var(--blaze-orange);
  border-radius: 17px;
  box-shadow: 1.39px 7.88px 29px #695f9724;
  height: 40px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 172px;
}

.admin-management-gestion-poste .enregistrer {
  left: 48px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.admin-management-gestion-poste .content-popup-step-2-1 {
  background-color: var(--white-2);
  border-radius: 15px;
  box-shadow: 3.82px 21.67px 40px #695f971a;
  display: flex;
  height: 600px;
  left: 361px;
  position: absolute;
  top: 766px;
  width: 1278px;
}

.admin-management-gestion-poste .groupe-927 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 36.0px;
  margin-right: 82.0px;
  margin-top: 49.0px;
  min-height: 388px;
}

.admin-management-gestion-poste .overlap-group4 {
  height: 40px;
  margin-left: 13.0px;
  position: relative;
  width: 303px;
}

.admin-management-gestion-poste .total-candidates {
  color: var(--cioccolato);
  font-family: var(--font-family-cerapro-medium);
  font-size: 30px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 256px;
}

.admin-management-gestion-poste .overlap-group-3 {
  height: 33px;
  left: 254px;
  position: absolute;
  top: 5px;
  width: 49px;
}

.admin-management-gestion-poste .frame-376 {
  background-color: var(--serenade);
  border-radius: 6px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.admin-management-gestion-poste .x20 {
  height: 23px;
  left: 9px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 6px;
  width: 40px;
}

.admin-management-gestion-poste .overlap-group3-2 {
  height: 278px;
  margin-top: 70px;
  position: relative;
  width: 1160px;
}

.admin-management-gestion-poste .rectangle-242 {
  background-color: var(--white);
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1107px;
}

.admin-management-gestion-poste .frame {
  background-color: var(--white);
  height: 52px;
  left: 0;
  position: absolute;
  top: 68px;
  width: 1111px;
}

.admin-management-gestion-poste .frame-1 {
  background-color: var(--white);
  height: 56px;
  left: 0;
  position: absolute;
  top: 117px;
  width: 1160px;
}

.admin-management-gestion-poste .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 157px;
  position: absolute;
  top: 59px;
  width: 1160px;
}

.admin-management-gestion-poste .rectangle-1 {
  border-radius: 2px;
  height: 19px;
  margin-left: 17px;
  width: 18px;
}

.admin-management-gestion-poste .rectangle-2 {
  border-radius: 2px;
  height: 19px;
  margin-left: 17px;
  margin-top: 44px;
  width: 18px;
}

.admin-management-gestion-poste .overlap-group1-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 57px;
  margin-top: 18px;
  min-width: 1160px;
  padding: 19.0px 17px;
}

.admin-management-gestion-poste .rectangle {
  border-radius: 2px;
  height: 19px;
  width: 18px;
}

.admin-management-gestion-poste .frame-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 56px;
  left: 0;
  min-width: 1160px;
  padding: 18.0px 17px;
  position: absolute;
  top: 222px;
}

.admin-management-gestion-poste .utlisateur {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 59px;
  min-height: 249px;
  position: absolute;
  top: 11px;
  width: 208px;
}

.admin-management-gestion-poste .flex-row-2 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 25px;
  min-width: 154px;
}

.admin-management-gestion-poste .utilisateur {
  align-self: flex-end;
  height: 23px;
  letter-spacing: 0;
  line-height: 14px;
  width: 124px;
}

.admin-management-gestion-poste .iconarrow {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: 17px;
  min-width: 13px;
}

.admin-management-gestion-poste .overlap-group2-2 {
  height: 13px;
  margin-top: 0;
  position: relative;
  width: 13px;
}

.admin-management-gestion-poste .group {
  height: 9px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 9px;
}

.admin-management-gestion-poste .vector-container-3 {
  height: 11px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 6px;
}

.admin-management-gestion-poste .vector-5 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6px;
}

.admin-management-gestion-poste .vector {
  height: 11px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.admin-management-gestion-poste .vector-container-4 {
  height: 11px;
  left: 5px;
  position: absolute;
  top: -1px;
  width: 6px;
}

.admin-management-gestion-poste .vector-6 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 6px;
}

.admin-management-gestion-poste .vector-7 {
  height: 13px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 13px;
}

.admin-management-gestion-poste .cameron-williamson {
  height: 23px;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 10px;
  margin-top: 34px;
  opacity: 0.74;
  width: 162px;
}

.admin-management-gestion-poste .name {
  align-self: center;
  display: flex;
  height: 21px;
  margin-left: 5.0px;
  margin-top: 34px;
  width: 141px;
}

.admin-management-gestion-poste .savannah-nguyen {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 141px;
}

.admin-management-gestion-poste .name-1 {
  display: flex;
  height: 21px;
  margin-right: -2px;
  margin-top: 35px;
  width: 174px;
}

.admin-management-gestion-poste .darlene-robertson {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 174px;
}

.admin-management-gestion-poste .name-2 {
  display: flex;
  height: 21px;
  margin-right: 3px;
  margin-top: 35px;
  width: 169px;
}

.admin-management-gestion-poste .leslie-alexander {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 169px;
}

.admin-management-gestion-poste .type {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 291px;
  min-height: 247px;
  position: absolute;
  top: 10px;
  width: 226px;
}

.admin-management-gestion-poste .type-1 {
  align-self: flex-start;
  height: 23px;
  letter-spacing: 0;
  line-height: 14px;
  width: 137px;
}

.admin-management-gestion-poste .frame-4 {
  align-items: flex-end;
  display: flex;
  height: 21px;
  margin-right: 34.0px;
  margin-top: 34px;
  min-width: 146px;
}

.admin-management-gestion-poste .text-7 {
  height: 23px;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  opacity: 0.74;
  width: 146px;
}

.admin-management-gestion-poste .frame-5 {
  display: flex;
  height: 21px;
  margin-right: 39.0px;
  margin-top: 36px;
  width: 143px;
}

.admin-management-gestion-poste .text-8 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 143px;
}

.admin-management-gestion-poste .frame-6 {
  align-self: flex-end;
  display: flex;
  height: 21px;
  margin-right: -2.0px;
  margin-top: 35px;
  width: 206px;
}

.admin-management-gestion-poste .text-9 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 206px;
}

.admin-management-gestion-poste .frame-7 {
  display: flex;
  height: 21px;
  margin-right: 15.0px;
  margin-top: 35px;
  width: 167px;
}

.admin-management-gestion-poste .text-10 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 167px;
}

.admin-management-gestion-poste .top {
  border-radius: 2px;
  height: 19px;
  left: 17px;
  position: absolute;
  top: 15px;
  width: 18px;
}

.admin-management-gestion-poste .ligne-2 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 275px;
  width: 1159px;
}

.admin-management-gestion-poste .ligne-3 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 217px;
  width: 1159px;
}

.admin-management-gestion-poste .ligne-4 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 169px;
  width: 1159px;
}

.admin-management-gestion-poste .trac-573 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 117px;
  width: 1159px;
}

.admin-management-gestion-poste .ligne-6 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 53px;
  width: 1159px;
}

.admin-management-gestion-poste .groupe-928 {
  align-items: flex-start;
  display: flex;
  height: 185px;
  left: 1086px;
  min-width: 66px;
  position: absolute;
  top: 65px;
}

.admin-management-gestion-poste .icon-awesome-edit-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 184px;
  width: 22px;
}

.admin-management-gestion-poste .icon-awesome-edit {
  height: 20px;
  object-fit: cover;
  width: 22px;
}

.admin-management-gestion-poste .icon-awesome-edit-1 {
  height: 20px;
  margin-top: 38px;
  object-fit: cover;
  width: 22px;
}

.admin-management-gestion-poste .icon-awesome-edit-2 {
  height: 20px;
  margin-top: 37px;
  object-fit: cover;
  width: 22px;
}

.admin-management-gestion-poste .icon-awesome-edit-3 {
  height: 20px;
  margin-top: 29px;
  object-fit: cover;
  width: 22px;
}

.admin-management-gestion-poste .icon-material-delete-sweep-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 21px;
  min-height: 183px;
  width: 22px;
}

.admin-management-gestion-poste .icon-material-delete-sweep {
  height: 17px;
  object-fit: cover;
  width: 22px;
}

.admin-management-gestion-poste .icon-material-delete-sweep-1 {
  height: 17px;
  margin-top: 41px;
  object-fit: cover;
  width: 22px;
}

.admin-management-gestion-poste .icon-material-delete-sweep-2 {
  height: 17px;
  margin-top: 40px;
  object-fit: cover;
  width: 22px;
}

.admin-management-gestion-poste .icon-material-delete-sweep-3 {
  height: 17px;
  margin-top: 33px;
  object-fit: cover;
  width: 22px;
}

.admin-management-gestion-poste .pagination {
  align-items: flex-start;
  display: flex;
  height: 34px;
  left: 437px;
  min-width: 1164px;
  position: absolute;
  top: 1263px;
}

.admin-management-gestion-poste .showing-1-10-from-46-data {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  width: 328px;
}

.admin-management-gestion-poste .btn-prev {
  align-items: flex-start;
  border-radius: 14px;
  display: flex;
  height: 31px;
  margin-left: 607px;
  min-width: 34px;
  padding: 10.5px 11.9px;
}

.admin-management-gestion-poste .ic_chevron {
  align-items: flex-start;
  display: flex;
  height: 8px;
  min-width: 9px;
  transform: rotate(180deg);
}

.admin-management-gestion-poste .vector-container {
  height: 11px;
  margin-left: -1px;
  margin-top: -1.41px;
  position: relative;
  width: 11px;
}

.admin-management-gestion-poste .vector-8 {
  height: 11px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 6px;
}

.admin-management-gestion-poste .vector-9 {
  height: 11px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 6px;
}

.admin-management-gestion-poste .number {
  align-items: flex-end;
  display: flex;
  height: 32px;
  margin-left: 7px;
  min-width: 148px;
}

.admin-management-gestion-poste .overlap-group-4 {
  height: 34px;
  margin-bottom: -2px;
  position: relative;
  width: 34px;
}

.admin-management-gestion-poste .selected-page {
  background-color: var(--blaze-orange);
  border-radius: 14px;
  box-shadow: 0px 7px 32px #00000024;
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.admin-management-gestion-poste .number-1 {
  height: 31px;
  left: 14px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 3px;
  width: 7px;
}

.admin-management-gestion-poste .number-2 {
  height: 31px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 15px;
  width: 9px;
}

.admin-management-gestion-poste .number-3 {
  height: 31px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 28px;
  width: 9px;
}

.admin-management-gestion-poste .number-4 {
  height: 31px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 28px;
  width: 10px;
}

.admin-management-gestion-poste .btn-next {
  align-items: flex-start;
  border-radius: 14px;
  display: flex;
  height: 31px;
  margin-left: 6px;
  min-width: 34px;
  padding: 10.5px 11.5px;
}

.admin-management-gestion-poste .ic_chevron-1 {
  align-items: flex-start;
  display: flex;
  height: 8px;
  min-width: 9px;
}

.admin-management-gestion-poste .vector-10 {
  height: 11px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6px;
}

.admin-management-gestion-poste .vector-11 {
  height: 11px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6px;
}
