/* screen - note-de-frais-user */

.note-de-frais-user {
  align-items: flex-start;
  background-color: var(--black-haze);
  display: flex;
  height: 1897px;
  overflow: hidden;
  width: 1686px;
}

.note-de-frais-user .overlap-group11 {
  height: 1989px;
  margin-left: -11px;
  margin-top: -14px;
  position: relative;
  width: 1663px;
}

.note-de-frais-user .menu-notif {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  left: 1415px;
  min-width: 224px;
  position: absolute;
  top: 66px;
}

.note-de-frais-user .icon-feather-search {
  align-items: flex-start;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  margin-top: 6.0px;
  min-width: 26px;
}

.note-de-frais-user .trac-container-1 {
  height: 29px;
  margin-top: -1.0px;
  position: relative;
  width: 29px;
}

.note-de-frais-user .trac-560 {
  height: 25px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}

.note-de-frais-user .trac-561 {
  height: 9px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 9px;
}

.note-de-frais-user .icon-feather-mail {
  align-items: flex-start;
  display: flex;
  height: 23px;
  margin-left: 40px;
  margin-top: 2.0px;
  min-width: 29px;
}

.note-de-frais-user .trac-container-2 {
  height: 25px;
  margin-left: -1px;
  margin-top: -1.0px;
  position: relative;
  width: 32px;
}

.note-de-frais-user .trac-558 {
  height: 25px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 31px;
}

.note-de-frais-user .trac-559 {
  height: 13px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 32px;
}

.note-de-frais-user .icon-notification {
  display: flex;
  height: 31px;
  margin-left: 30px;
  margin-top: 3.0px;
  width: 26px;
}

.note-de-frais-user .vector-smart-object {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 25.56px;
}

.note-de-frais-user .overlap-group-3 {
  height: 33px;
  margin-left: -1px;
  margin-top: -1.02px;
  position: relative;
  width: 28px;
}

.note-de-frais-user .trac-88 {
  height: 27px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 26px;
}

.note-de-frais-user .trac-89 {
  height: 8px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 12px;
}

.note-de-frais-user .ellipse-1 {
  background: linear-gradient(24.88deg, #ff0000 141845.66%, #fcba59 165027.1%);
  border-radius: 6.2px/5.96px;
  height: 14px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 14px;
}

.note-de-frais-user .ellipse-7 {
  border-radius: 23.5px/24px;
  height: 48px;
  margin-left: 25px;
  object-fit: cover;
  width: 47px;
}

.note-de-frais-user .overlap-group10 {
  height: 1989px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1663px;
}

.note-de-frais-user .dashboard-1 {
  height: 27px;
  left: 348px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 71px;
  white-space: nowrap;
  width: 297px;
}

.note-de-frais-user .hello-thomas-welcome-to-galucter {
  left: 383px;
  letter-spacing: -0.16px;
  line-height: 16px;
  opacity: 0.6;
  position: absolute;
  top: 106px;
  width: 512px;
}

.note-de-frais-user .vector-smart-object-1 {
  display: flex;
  height: 23px;
  left: 349px;
  position: absolute;
  top: 107px;
  width: 24px;
}

.note-de-frais-user .groupe-5 {
  display: flex;
  flex: 1;
  width: 24px;
}

.note-de-frais-user .groupe-4 {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 24px;
}

.note-de-frais-user .groupe-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-bottom: 3.1px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3.4px;
  min-width: 24px;
  opacity: 0.5;
  padding: 0 0.0px;
}

.note-de-frais-user .trac-container {
  height: 17px;
  margin-top: 0;
  position: relative;
  width: 10px;
}

.note-de-frais-user .trac-91 {
  height: 8px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 3px;
}

.note-de-frais-user .trac-93 {
  height: 12px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 4px;
}

.note-de-frais-user .trac-96 {
  height: 17px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.note-de-frais-user .trac-90 {
  align-self: center;
  height: 3px;
  margin-bottom: 0.01px;
  object-fit: cover;
  width: 3px;
}

.note-de-frais-user .trac-92 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 3px;
}

.note-de-frais-user .trac-94 {
  height: 12px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 4px;
}

.note-de-frais-user .trac-95 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.note-de-frais-user .overlap-group6 {
  border-radius: 15px;
  height: 969px;
  left: 370px;
  position: absolute;
  top: 828px;
  width: 1293px;
}

.note-de-frais-user .bg-copy-5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 3.82px 21.67px 40px #695f971a;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 969px;
  opacity: 0.81;
  padding: 128.0px 79px;
  position: absolute;
  top: 0;
  width: 1293px;
}

.note-de-frais-user .due-date {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  margin-top: 120px;
  min-height: 105px;
  width: 632px;
}

.note-de-frais-user .projet-li {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.note-de-frais-user .overlap-group2 {
  height: 63px;
  margin-left: 0;
  margin-top: 18px;
  position: relative;
  width: 632px;
}

.note-de-frais-user .text-box-copy-3 {
  background-color: var(--white);
  border-radius: 8px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 632px;
}

.note-de-frais-user .dfinir-le {
  left: 18px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.note-de-frais-user .ex-dplacement-pour-la-journe-loto {
  left: 11px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.note-de-frais-user .terms-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 77px;
  margin-top: 411px;
  min-width: 1130px;
}

.note-de-frais-user .terms {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 77px;
  width: 527px;
}

.note-de-frais-user .departement {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.note-de-frais-user .overlap-group {
  height: 53px;
  margin-top: 18px;
  position: relative;
  width: 527px;
}

.note-de-frais-user .text-box-copy-3-1 {
  background-color: var(--white);
  border-radius: 8px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 527px;
}

.note-de-frais-user .slectionnez {
  left: 20px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.note-de-frais-user .arrow-dow-copy-4 {
  height: 6px;
  left: 497px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 10px;
}

.note-de-frais-user .terms-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 76px;
  min-height: 77px;
  width: 527px;
}

.note-de-frais-user .responsable-departement {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.note-de-frais-user .text-box-copy-3-2 {
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 527px;
}

.note-de-frais-user .title-copy-4 {
  display: flex;
  height: 31px;
  left: 83px;
  position: absolute;
  top: 31px;
  width: 308px;
}

.note-de-frais-user .formulaire-de-note-de-frais {
  flex: 1;
  letter-spacing: 0;
  line-height: 23px;
  margin-bottom: -6px;
  margin-right: -2px;
  margin-top: 4px;
  white-space: nowrap;
  width: 308px;
}

.note-de-frais-user .terms-tab-content {
  display: flex;
  flex-direction: column;
  height: 221px;
  left: 73px;
  position: absolute;
  top: 504px;
  width: 1130px;
}

.note-de-frais-user .description-du-projet {
  height: 25px;
  letter-spacing: 0;
  line-height: 60px;
  margin-left: 9px;
  margin-top: -18.5px;
  white-space: nowrap;
  width: 169px;
}

.note-de-frais-user .text-editor {
  background-color: var(--white);
  border-radius: 6px;
  flex: 1;
  margin-top: 30.1px;
}

.note-de-frais-user .button-next {
  align-items: flex-start;
  background-color: var(--blaze-orange);
  border-radius: 17px;
  box-shadow: 1.39px 7.88px 29px #695f9724;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 980px;
  min-width: 172px;
  padding: 0 47px;
  position: absolute;
  top: 885px;
}

.note-de-frais-user .soumettre {
  letter-spacing: 0;
  line-height: 60px;
  margin-top: -12.43px;
  min-height: 23px;
  min-width: 76px;
  text-align: center;
  white-space: nowrap;
}

.note-de-frais-user .terms-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 83px;
  min-height: 105px;
  position: absolute;
  top: 112px;
  width: 628px;
}

.note-de-frais-user .intitul-de-laction-engag {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.note-de-frais-user .overlap-group3 {
  height: 63px;
  margin-top: 18px;
  position: relative;
  width: 628px;
}

.note-de-frais-user .text-box-copy-3-3 {
  background-color: var(--white);
  border-radius: 8px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 628px;
}

.note-de-frais-user .arrow-dow-copy-4-1 {
  height: 6px;
  left: 598px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 10px;
}

.note-de-frais-user .ex-transport {
  left: 11px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.note-de-frais-user .other {
  display: flex;
  height: 20px;
  justify-content: space-between;
  left: 83px;
  position: absolute;
  top: 900px;
  width: 233px;
}

.note-de-frais-user .icon-tick-copy-2 {
  object-fit: cover;
  width: 20px;
}

.note-de-frais-user .menvoyer-une-copie-par-e-mail {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 19.3px;
  margin-right: -2px;
  margin-top: -20.3px;
  white-space: nowrap;
  width: 198px;
}

.note-de-frais-user .due-date-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 82px;
  min-height: 77px;
  position: absolute;
  top: 390px;
  width: 632px;
}

.note-de-frais-user .montant-dbours {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.note-de-frais-user .overlap-group4 {
  height: 52px;
  margin-left: 0;
  margin-top: 18px;
  position: relative;
  width: 632px;
}

.note-de-frais-user .attach-files {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 825px;
  min-height: 302px;
  position: absolute;
  top: 114px;
  width: 389px;
}

.note-de-frais-user .ajouter-un-fichier {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -35px;
  margin-left: 9px;
  margin-top: -18px;
  min-height: 25px;
  white-space: nowrap;
}

.note-de-frais-user .overlap-group5 {
  height: 267px;
  margin-top: 28px;
  position: relative;
  width: 389px;
}

.note-de-frais-user .bg {
  display: flex;
  height: 267px;
  left: 0;
  position: absolute;
  top: 0;
  width: 389px;
}

.note-de-frais-user .bg-1 {
  border-radius: 30px;
  flex: 1;
  margin-bottom: -40.5px;
  margin-left: -37.5px;
  margin-right: -37.5px;
  margin-top: -34.5px;
  object-fit: cover;
  width: 464px;
}

.note-de-frais-user .choisir-les-fichiers-tlcharger {
  left: 98px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 111px;
  white-space: nowrap;
}

.note-de-frais-user .ou {
  left: 187px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 135px;
  white-space: nowrap;
}

.note-de-frais-user .button-browse-file {
  background-color: var(--white);
  border-radius: 17px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  left: 105px;
  position: absolute;
  top: 186px;
  width: 190px;
}

.note-de-frais-user .icon-upload {
  height: 13.01px;
  margin-left: 14.0px;
  margin-top: -6.3px;
  object-fit: cover;
  width: 12px;
}

.note-de-frais-user .parcourir-les-fichiers {
  align-self: flex-end;
  height: 21px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -32.5px;
  margin-right: 25px;
  text-align: center;
  white-space: nowrap;
  width: 126px;
}

.note-de-frais-user .rectangle-54 {
  height: 84px;
  left: 129px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 127px;
}

.note-de-frais-user .showing-1-10-from-46-data {
  height: 26px;
  left: 419px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 734px;
  width: 328px;
}

.note-de-frais-user .liste {
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 463px;
  justify-content: space-between;
  left: 370px;
  position: absolute;
  top: 321px;
  width: 1293px;
}

.note-de-frais-user .groupe-914 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 23.0px;
  margin-right: 4px;
  margin-top: 26.0px;
  max-height: 350px;
  min-height: 350px;
}

.note-de-frais-user .flex-row {
  align-items: center;
  display: flex;
  height: 35px;
  margin-right: 16.0px;
  min-width: 1224px;
}

.note-de-frais-user .total-candidates {
  align-self: flex-end;
  height: 28px;
  letter-spacing: 0;
  line-height: 20px;
  width: 393px;
}

.note-de-frais-user .overlap-group-4 {
  align-self: flex-start;
  height: 33px;
  margin-left: 142px;
  position: relative;
  width: 46px;
}

.note-de-frais-user .frame-376 {
  background-color: var(--serenade);
  border-radius: 6px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.note-de-frais-user .x20 {
  height: 23px;
  left: 6px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 6px;
  width: 40px;
}

.note-de-frais-user .frame-3 {
  background-color: var(--blaze-orange);
  border-radius: 9px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-left: 305px;
  margin-top: 1.0px;
  width: 123px;
}

.note-de-frais-user .icon-awesome-file-export {
  height: 15.28px;
  margin-left: 14.2px;
  margin-top: -7.0px;
  object-fit: cover;
  width: 17.19px;
}

.note-de-frais-user .filter {
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 3.0px;
  margin-right: 7.0px;
  margin-top: 5.0px;
  width: 74px;
}

.note-de-frais-user .overlap-group1 {
  height: 30px;
  margin-left: 104px;
  margin-top: 1.0px;
  position: relative;
  width: 111px;
}

.note-de-frais-user .frame-4 {
  background-color: var(--blaze-orange);
  border-radius: 9px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 96px;
}

.note-de-frais-user .filter-1 {
  height: 22px;
  left: 37px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 5px;
  width: 74px;
}

.note-de-frais-user .icon-material-filter-list {
  height: 10px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 15px;
}

.note-de-frais-user .overlap-group8 {
  height: 298px;
  margin-left: 2.0px;
  margin-top: 17px;
  position: relative;
  width: 1268px;
}

.note-de-frais-user .rectangle-242 {
  background-color: var(--white);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1234px;
}

.note-de-frais-user .frame-5 {
  background-color: var(--white);
  height: 56px;
  left: 0;
  position: absolute;
  top: 73px;
  width: 1238px;
}

.note-de-frais-user .frame-6 {
  background-color: var(--white);
  height: 56px;
  left: 0;
  position: absolute;
  top: 129px;
  width: 1251px;
}

.note-de-frais-user .frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 157px;
  position: absolute;
  top: 85px;
  width: 1251px;
}

.note-de-frais-user .rectangle-1 {
  border-radius: 2px;
  height: 19px;
  margin-left: 17px;
  width: 18px;
}

.note-de-frais-user .rectangle-2 {
  border-radius: 2px;
  height: 19px;
  margin-left: 17px;
  margin-top: 44px;
  width: 18px;
}

.note-de-frais-user .overlap-group2-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 57px;
  margin-top: 18px;
  min-width: 1251px;
  padding: 19.0px 17px;
}

.note-de-frais-user .rectangle {
  border-radius: 2px;
  height: 19px;
  width: 18px;
}

.note-de-frais-user .frame-8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 56px;
  left: 0;
  min-width: 1251px;
  padding: 18.0px 17px;
  position: absolute;
  top: 242px;
}

.note-de-frais-user .utlisateur {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 388px;
  min-height: 263px;
  position: absolute;
  top: 15px;
  width: 188px;
}

.note-de-frais-user .overlap-group3-1 {
  height: 23px;
  position: relative;
  width: 89px;
}

.note-de-frais-user .iconarrow {
  align-items: flex-start;
  display: flex;
  height: 13px;
  left: 74px;
  min-width: 13px;
  padding: 0 0.0px;
  position: absolute;
  top: 4px;
}

.note-de-frais-user .overlap-group-1 {
  height: 13px;
  margin-top: 0;
  position: relative;
  width: 13px;
}

.note-de-frais-user .group {
  height: 9px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 9px;
}

.note-de-frais-user .vector-container {
  height: 11px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 6px;
}

.note-de-frais-user .vector {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6px;
}

.note-de-frais-user .vector-1 {
  height: 11px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.note-de-frais-user .vector-container-1 {
  height: 11px;
  left: 5px;
  position: absolute;
  top: -1px;
  width: 6px;
}

.note-de-frais-user .vector-2 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 6px;
}

.note-de-frais-user .vector-3 {
  height: 13px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 13px;
}

.note-de-frais-user .utilisateur {
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 89px;
}

.note-de-frais-user .cameron-williamson {
  height: 22px;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: 46px;
  opacity: 0.74;
  width: 162px;
}

.note-de-frais-user .name {
  display: flex;
  height: 20px;
  margin-top: 35px;
  width: 141px;
}

.note-de-frais-user .savannah-nguyen {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 141px;
}

.note-de-frais-user .name-1 {
  display: flex;
  height: 20px;
  margin-top: 36px;
  width: 174px;
}

.note-de-frais-user .darlene-robertson {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 174px;
}

.note-de-frais-user .name-2 {
  display: flex;
  height: 25px;
  margin-top: 36px;
  width: 190px;
}

.note-de-frais-user .leslie-alexander {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 190px;
}

.note-de-frais-user .statut {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1121px;
  min-height: 255px;
  position: absolute;
  top: 16px;
  width: 147px;
}

.note-de-frais-user .overlap-group4-1 {
  align-self: flex-end;
  height: 23px;
  position: relative;
  width: 142px;
}

.note-de-frais-user .statut-1 {
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 142px;
}

.note-de-frais-user .iconarrow-1 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  left: 55px;
  min-width: 13px;
  padding: 0 0.0px;
  position: absolute;
  top: 1px;
}

.note-de-frais-user .owner {
  align-items: flex-end;
  background-color: var(--madang);
  border-radius: 5px;
  display: flex;
  height: 21px;
  justify-content: flex-end;
  margin-left: 0.33px;
  margin-top: 45px;
  min-width: 72px;
}

.note-de-frais-user .en-cours {
  height: 23px;
  letter-spacing: -0.42px;
  line-height: 14px;
  margin-bottom: -2px;
  width: 66px;
}

.note-de-frais-user .overlap-group-5 {
  height: 23px;
  margin-top: 38px;
  position: relative;
  width: 74px;
}

.note-de-frais-user .trac-562 {
  height: 21px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 72px;
}

.note-de-frais-user .accepetr {
  height: 23px;
  left: 7px;
  letter-spacing: -0.42px;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 67px;
}

.note-de-frais-user .overlap-group1-1 {
  height: 23px;
  margin-left: 0.33px;
  margin-top: 30px;
  position: relative;
  width: 78px;
}

.note-de-frais-user .rectangle-39 {
  background-color: var(--sundown);
  border-radius: 5px;
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.note-de-frais-user .en-cours-1 {
  height: 23px;
  left: 14px;
  letter-spacing: -0.42px;
  line-height: 14px;
  opacity: 0.74;
  position: absolute;
  top: 0;
  width: 64px;
}

.note-de-frais-user .overlap-group2-2 {
  height: 23px;
  margin-left: 0.33px;
  margin-top: 31px;
  position: relative;
  width: 73px;
}

.note-de-frais-user .rectangle-38 {
  background-color: var(--madang);
  border-radius: 5px;
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.note-de-frais-user .refuser {
  height: 23px;
  left: 4px;
  letter-spacing: -0.42px;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 69px;
}

.note-de-frais-user .type {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 51px;
  min-height: 264px;
  position: absolute;
  top: 17px;
  width: 209px;
}

.note-de-frais-user .overlap-group5-1 {
  height: 23px;
  margin-left: 4.65px;
  position: relative;
  width: 146px;
}

.note-de-frais-user .type-1 {
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 137px;
}

.note-de-frais-user .iconarrow-2 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  left: 134px;
  min-width: 13px;
  padding: 0 0.0px;
  position: absolute;
  top: 1px;
}

.note-de-frais-user .frame-9 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: 1.02px;
  margin-top: 51px;
  min-width: 210px;
}

.note-de-frais-user .iconmagic-star-1 {
  background-image: url(../img/vector-1015@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 21px;
  margin-top: 0;
  width: 21px;
}

.note-de-frais-user .x49 {
  align-self: flex-end;
  height: 23px;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2.0px;
  margin-left: 5px;
  opacity: 0.74;
  width: 183px;
}

.note-de-frais-user .frame-10 {
  display: flex;
  height: 21px;
  margin-top: 36px;
  width: 170px;
}

.note-de-frais-user .iconmagic-star {
  background-image: url(../img/vector-1016@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  width: 21.35px;
}

.note-de-frais-user .x47 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -1.9px;
  margin-left: 5.3px;
  margin-right: -2px;
  margin-top: 0.3px;
  opacity: 0.74;
}

.note-de-frais-user .frame-11 {
  display: flex;
  height: 21px;
  margin-top: 35px;
  width: 195px;
}

.note-de-frais-user .x00 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -1.9px;
  margin-left: 5.3px;
  margin-right: -2px;
  margin-top: 0.3px;
  opacity: 0.74;
}

.note-de-frais-user .frame-12 {
  display: flex;
  height: 21px;
  margin-left: 0;
  margin-top: 35px;
  width: 194px;
}

.note-de-frais-user .x49-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -1.9px;
  margin-left: 5.3px;
  margin-right: -2px;
  margin-top: 0.3px;
  opacity: 0.74;
}

.note-de-frais-user .date {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 867px;
  min-height: 255px;
  position: absolute;
  top: 15px;
  width: 149px;
}

.note-de-frais-user .overlap-group-2 {
  height: 23px;
  margin-left: 6px;
  position: relative;
  width: 124px;
}

.note-de-frais-user .date-heure {
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 124px;
}

.note-de-frais-user .iconarrow-3 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  justify-content: center;
  left: 89px;
  min-width: 13px;
  position: absolute;
  top: 1px;
}

.note-de-frais-user .shortlist {
  height: 23px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 4px;
  margin-top: 47px;
  opacity: 0.74;
  width: 147px;
}

.note-de-frais-user .frame {
  display: flex;
  height: 21px;
  margin-left: 4px;
  margin-top: 34px;
  width: 144px;
}

.note-de-frais-user .interview {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 144px;
}

.note-de-frais-user .frame-1 {
  display: flex;
  height: 21px;
  margin-left: 3px;
  margin-top: 33px;
  width: 145px;
}

.note-de-frais-user .new-applied {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 145px;
}

.note-de-frais-user .frame-2 {
  display: flex;
  height: 21px;
  margin-top: 32px;
  width: 151px;
}

.note-de-frais-user .test {
  flex: 1;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-right: -2px;
  opacity: 0.74;
  width: 151px;
}

.note-de-frais-user .top {
  border-radius: 2px;
  height: 19px;
  left: 17px;
  position: absolute;
  top: 17px;
  width: 18px;
}

.note-de-frais-user .ligne-2 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 295px;
  width: 1250px;
}

.note-de-frais-user .ligne-3 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 237px;
  width: 1250px;
}

.note-de-frais-user .ligne-4 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 182px;
  width: 1250px;
}

.note-de-frais-user .ligne-5 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 128px;
  width: 1250px;
}

.note-de-frais-user .ligne-6 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 1250px;
}

.note-de-frais-user .date-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 664px;
  min-height: 255px;
  position: absolute;
  top: 15px;
  width: 149px;
}

.note-de-frais-user .iconarrow-4 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  left: 66px;
  min-width: 13px;
  position: absolute;
  top: 1px;
}

.note-de-frais-user .pagination {
  align-items: flex-start;
  display: flex;
  flex: 1;
  height: 34px;
  margin-bottom: 26px;
  margin-left: 36.0px;
  margin-right: 30.0px;
  max-height: 34px;
  min-width: calc(100.00% - 66px);
}

.note-de-frais-user .showing-1-10-from-46-data-1 {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  width: 328px;
}

.note-de-frais-user .btn-prev {
  align-items: flex-start;
  border-radius: 14px;
  display: flex;
  height: 31px;
  margin-left: 582px;
  min-width: 34px;
  padding: 10.5px 11.9px;
}

.note-de-frais-user .ic_chevron {
  align-items: flex-start;
  display: flex;
  height: 8px;
  min-width: 9px;
  transform: rotate(180deg);
}

.note-de-frais-user .vector-container-2 {
  height: 11px;
  margin-left: -1px;
  margin-top: -1.41px;
  position: relative;
  width: 11px;
}

.note-de-frais-user .vector-4 {
  height: 11px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 6px;
}

.note-de-frais-user .vector-5 {
  height: 11px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 6px;
}

.note-de-frais-user .number {
  align-items: flex-end;
  display: flex;
  height: 32px;
  margin-left: 95px;
  min-width: 148px;
}

.note-de-frais-user .overlap-group-6 {
  height: 34px;
  margin-bottom: -2px;
  position: relative;
  width: 34px;
}

.note-de-frais-user .selected-page {
  background-color: var(--blaze-orange);
  border-radius: 14px;
  box-shadow: 0px 7px 32px #00000024;
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.note-de-frais-user .number-1 {
  height: 31px;
  left: 14px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 3px;
  width: 7px;
}

.note-de-frais-user .number-2 {
  height: 31px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 15px;
  width: 9px;
}

.note-de-frais-user .number-3 {
  height: 31px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 28px;
  width: 9px;
}

.note-de-frais-user .number-4 {
  height: 31px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 28px;
  width: 10px;
}

.note-de-frais-user .btn-next {
  align-items: flex-start;
  border-radius: 14px;
  display: flex;
  height: 31px;
  margin-left: 6px;
  min-width: 34px;
  padding: 10.5px 11.1px;
}

.note-de-frais-user .ic_chevron-1 {
  align-items: flex-start;
  display: flex;
  height: 8px;
  min-width: 9px;
}

.note-de-frais-user .vector-6 {
  height: 11px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6px;
}

.note-de-frais-user .vector-7 {
  height: 11px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6px;
}

.note-de-frais-user .overlap-group9 {
  height: 1989px;
  left: 0;
  position: absolute;
  top: 0;
  width: 414px;
}

.note-de-frais-user .rectangle-sidebar {
  height: 1989px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 314px;
}

.note-de-frais-user .dashboard-active {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 387px;
  position: absolute;
  top: 225px;
  width: 311px;
}

.note-de-frais-user .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  margin-right: 16.5px;
  min-width: 194px;
}

.note-de-frais-user .x012-home {
  background-image: url(../img/vector-1057@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23px;
  width: 21px;
}

.note-de-frais-user .dashboard-2 {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 16px;
  width: 157px;
}

.note-de-frais-user .rectangle-31 {
  background-color: var(--seashell-peach);
  border-radius: 0px 50px 50px 0px;
  height: 73px;
  margin-top: 286px;
  width: 311px;
}

.note-de-frais-user .invoicing {
  display: flex;
  height: 42px;
  left: 51px;
  position: absolute;
  top: 295px;
  width: 247px;
}

.note-de-frais-user .invoicing-1 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  width: 246.5px;
}

.note-de-frais-user .group-7 {
  display: flex;
  flex: 1;
  margin-right: 4.5px;
}

.note-de-frais-user .group-1 {
  display: flex;
  flex: 1;
  width: 239.33px;
}

.note-de-frais-user .x011-file {
  background-image: url(../img/vector-1064@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23.33px;
  margin-left: 0;
  margin-top: 1.3px;
  width: 18.67px;
}

.note-de-frais-user .dashboard-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  margin-left: 21.7px;
  margin-right: -2.0px;
}

.note-de-frais-user .icon-feather-chevron-down {
  height: 9.27px;
  margin-right: -0.6px;
  margin-top: -2.4px;
  object-fit: cover;
  width: 5.26px;
}

.note-de-frais-user .calendar {
  display: flex;
  height: 42px;
  left: 50px;
  position: absolute;
  top: 369px;
  width: 220px;
}

.note-de-frais-user .calendar-1 {
  display: flex;
  flex: 1;
  width: 220.5px;
}

.note-de-frais-user .group-12 {
  display: flex;
  flex: 1;
  width: 220.5px;
}

.note-de-frais-user .group-1-1 {
  display: flex;
  flex: 1;
  width: 222.5px;
}

.note-de-frais-user .x003-date {
  background-image: url(../img/vector-1169@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 22.17px;
  margin-left: 0;
  margin-top: 1.3px;
  width: 21.0px;
}

.note-de-frais-user .dashboard-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  margin-left: 20.5px;
  margin-right: -2.0px;
}

.note-de-frais-user .overlap-group1-2 {
  height: 45px;
  left: 50px;
  position: absolute;
  top: 428px;
  width: 266px;
}

.note-de-frais-user .calendar-2 {
  display: flex;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 266px;
}

.note-de-frais-user .group-12-1 {
  display: flex;
  flex: 1;
  width: 265.5px;
}

.note-de-frais-user .group-1-2 {
  display: flex;
  flex: 1;
  width: 267.5px;
}

.note-de-frais-user .x007-edit {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 0;
  margin-top: 0;
  min-width: 21px;
  padding: 0 0.0px;
}

.note-de-frais-user .vector-container-3 {
  height: 21px;
  position: relative;
  width: 21px;
}

.note-de-frais-user .vector-8 {
  height: 16px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}

.note-de-frais-user .vector-9 {
  height: 21px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 21px;
}

.note-de-frais-user .dashboard-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2.0px;
  margin-left: 20.5px;
  margin-right: -2.0px;
  margin-top: 2.5px;
}

.note-de-frais-user .icon-feather-chevron-down-1 {
  height: 9px;
  left: 243px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 5px;
}

.note-de-frais-user .footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 28px;
  min-height: 93px;
  position: absolute;
  top: 1758px;
  width: 257px;
}

.note-de-frais-user .x2021-all-rights-reserved {
  height: 20px;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 10.0px;
  margin-top: -3px;
  text-align: center;
  white-space: nowrap;
  width: 172px;
}

.note-de-frais-user .unicos-modern-dashboard {
  align-self: flex-end;
  height: 23px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 4px;
  white-space: nowrap;
  width: 236px;
}

.note-de-frais-user .x2021-all-rights-reserved-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 10.0px;
  margin-top: 4px;
  white-space: nowrap;
  width: 172px;
}

.note-de-frais-user .made-with-by-peterdraw {
  align-self: flex-start;
  height: 20px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 4px;
  text-align: center;
  white-space: nowrap;
  width: 247px;
}

.note-de-frais-user .banking {
  display: flex;
  height: 42px;
  left: 50px;
  position: absolute;
  top: 494px;
  width: 203px;
}

.note-de-frais-user .banking-1 {
  display: flex;
  flex: 1;
  width: 202.67px;
}

.note-de-frais-user .group-8 {
  display: flex;
  flex: 1;
  width: 202.67px;
}

.note-de-frais-user .group-1-3 {
  display: flex;
  flex: 1;
  width: 204.67px;
}

.note-de-frais-user .x040-wallet {
  background-image: url(../img/vector-1075@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 21px;
  margin-left: 0;
  margin-top: 1.5px;
  width: 23.33px;
}

.note-de-frais-user .dashboard {
  flex: 1;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -2px;
  margin-left: 19.3px;
  margin-right: -2.0px;
}

.note-de-frais-user .crypto {
  display: flex;
  height: 42px;
  left: 50px;
  position: absolute;
  top: 564px;
  width: 183px;
}

.note-de-frais-user .crypto-1 {
  display: flex;
  flex: 1;
  width: 182.67px;
}

.note-de-frais-user .group-5 {
  display: flex;
  flex: 1;
  width: 182.67px;
}

.note-de-frais-user .group-1-4 {
  display: flex;
  flex: 1;
  width: 184.67px;
}

.note-de-frais-user .x005-dollar {
  align-items: center;
  display: flex;
  height: 23.33px;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 0.3px;
  min-width: 23.33px;
}

.note-de-frais-user .vector-container-4 {
  height: 23px;
  position: relative;
  width: 23px;
}

.note-de-frais-user .vector-10 {
  height: 14px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}

.note-de-frais-user .vector-11 {
  height: 23px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 23px;
}

.note-de-frais-user .icon-open-menu {
  height: 13px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 14px;
}

.note-de-frais-user .logo {
  display: flex;
  height: 81px;
  left: 60px;
  position: absolute;
  top: 74px;
  width: 354px;
}

.note-de-frais-user .groupe-1 {
  align-items: flex-end;
  display: flex;
  height: 50.64px;
  min-width: 50px;
  padding: 0.0px 0;
}

.note-de-frais-user .overlap-group-7 {
  height: 51px;
  position: relative;
  width: 50px;
}

.note-de-frais-user .subtract {
  height: 21px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 20px;
}

.note-de-frais-user .subtract-1 {
  height: 47px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 48px;
}

.note-de-frais-user .ellipse-4 {
  background-color: var(--yellow-orange);
  border-radius: 6.3px;
  height: 13px;
  left: 35px;
  position: absolute;
  top: 35px;
  transform: rotate(-41.90deg);
  width: 13px;
}

.note-de-frais-user .groupe-3-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 4.5px;
  min-height: 100%;
}

.note-de-frais-user .insidepro {
  height: 83px;
  letter-spacing: -0.75px;
  line-height: 191.3px;
  margin-top: -81px;
  white-space: nowrap;
}

.note-de-frais-user .by-propulse-group {
  letter-spacing: 5.16px;
  line-height: 36.4px;
  margin-left: 4.0px;
  margin-top: 16px;
  min-height: 10px;
  min-width: 142px;
  text-align: center;
  white-space: nowrap;
}

.note-de-frais-user .tab-de-haut {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 107px;
  left: 366px;
  min-width: 1265px;
  padding: 23px 60px;
  position: absolute;
  top: 176px;
}

.note-de-frais-user .summary {
  align-items: flex-start;
  display: flex;
  min-width: 1133px;
}

.note-de-frais-user .total-clients {
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 119px;
}

.note-de-frais-user .icon {
  align-items: flex-start;
  background-color: var(--narvik);
  border-radius: 24px;
  display: flex;
  min-width: 60px;
  padding: 19.5px 20.8px;
}

.note-de-frais-user .icon-awesome-calendar-check {
  height: 20px;
  object-fit: cover;
  width: 18px;
}

.note-de-frais-user .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.6px;
  margin-top: 2.4px;
  width: 41px;
}

.note-de-frais-user .pay {
  height: 22px;
  letter-spacing: 0;
  line-height: 60px;
  margin-top: -20px;
  white-space: nowrap;
  width: 33px;
}

.note-de-frais-user .number-5 {
  flex: 1;
  height: 34px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 12px;
  margin-right: -2px;
  max-height: 34px;
  white-space: nowrap;
}

.note-de-frais-user .sale {
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-left: 204px;
  width: 145px;
}

.note-de-frais-user .icon-1 {
  align-items: flex-start;
  background-color: var(--chablis);
  border-radius: 24px;
  display: flex;
  justify-content: flex-end;
  min-width: 60px;
  padding: 18.7px 18.7px;
}

.note-de-frais-user .icon-material-cancel {
  height: 22px;
  object-fit: cover;
  width: 22px;
}

.note-de-frais-user .text-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.6px;
  margin-top: 2.4px;
  width: 67px;
}

.note-de-frais-user .non-pay {
  flex: 1;
  height: 22px;
  letter-spacing: 0;
  line-height: 60px;
  margin-right: -2px;
  margin-top: -20px;
  max-height: 22px;
  white-space: nowrap;
}

.note-de-frais-user .number-6 {
  height: 34px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 12px;
  white-space: nowrap;
  width: 41px;
}

.note-de-frais-user .project {
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-left: 166px;
  width: 136px;
}

.note-de-frais-user .icon-2 {
  align-items: flex-start;
  background-color: var(--buttery-white);
  border-radius: 24px;
  display: flex;
  justify-content: flex-end;
  min-width: 60px;
  padding: 13.7px 13.7px;
}

.note-de-frais-user .icon-feather-loader {
  align-items: flex-start;
  display: flex;
  height: 31px;
  min-width: 31px;
}

.note-de-frais-user .flex-row-2 {
  align-items: center;
  display: flex;
  height: 33px;
  margin-left: -1px;
  margin-top: -0.83px;
  min-width: 17px;
}

.note-de-frais-user .trac-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  min-height: 25px;
  width: 11px;
}

.note-de-frais-user .trac-567 {
  height: 7px;
  margin-left: 4.24px;
  object-fit: cover;
  width: 7px;
}

.note-de-frais-user .trac-569 {
  height: 2px;
  margin-top: 5px;
  object-fit: cover;
  width: 8px;
}

.note-de-frais-user .trac-571 {
  height: 7px;
  margin-left: 4.24px;
  margin-top: 5px;
  object-fit: cover;
  width: 7px;
}

.note-de-frais-user .trac-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 33px;
  width: 2px;
}

.note-de-frais-user .trac-565 {
  height: 8px;
  object-fit: cover;
  width: 2px;
}

.note-de-frais-user .trac-566 {
  height: 8px;
  margin-top: 17px;
  object-fit: cover;
  width: 2px;
}

.note-de-frais-user .trac-container-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 5px;
  min-height: 25px;
  width: 11px;
}

.note-de-frais-user .trac-572 {
  height: 7px;
  object-fit: cover;
  width: 7px;
}

.note-de-frais-user .trac-570 {
  height: 2px;
  margin-left: 3.1px;
  margin-top: 5px;
  object-fit: cover;
  width: 8px;
}

.note-de-frais-user .trac-568 {
  height: 7px;
  margin-top: 5px;
  object-fit: cover;
  width: 7px;
}

.note-de-frais-user .text-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.6px;
  margin-top: 2.4px;
  width: 58px;
}

.note-de-frais-user .en-cours-2 {
  flex: 1;
  height: 22px;
  letter-spacing: 0;
  line-height: 60px;
  margin-right: -2px;
  margin-top: -20px;
  max-height: 22px;
  white-space: nowrap;
}

.note-de-frais-user .number-7 {
  height: 34px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 12px;
  white-space: nowrap;
  width: 15px;
}

.note-de-frais-user .project-1 {
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-left: 159px;
  width: 204px;
}

.note-de-frais-user .icon-3 {
  align-items: flex-start;
  background-color: var(--solitude);
  border-radius: 24px;
  display: flex;
  justify-content: flex-end;
  min-width: 60px;
  padding: 14.0px 17.5px;
}

.note-de-frais-user .icon-awesome-file-invoice-dollar {
  height: 30px;
  object-fit: cover;
  width: 22px;
}

.note-de-frais-user .text-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.6px;
  margin-top: 2.4px;
  width: 126px;
}

.note-de-frais-user .total-note-de-frais {
  flex: 1;
  height: 22px;
  letter-spacing: 0;
  line-height: 60px;
  margin-right: -2px;
  margin-top: -20px;
  max-height: 22px;
  white-space: nowrap;
}

.note-de-frais-user .address {
  height: 34px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 12px;
  white-space: nowrap;
  width: 92px;
}
